<div class="content">
  <div class="options">
    <button>View</button>
    <button>Delete</button>
    <button>Edit</button>
    <button>Add New</button>
    <button>Download</button>
    <button>Upload</button>
  </div>
  <div class="search">
    <div class="input-container">
      <fa-icon class="icon" [icon]="searchIcon"></fa-icon>
      <input type="text" placeholder="Filter" #searchInput />
    </div>
    <button (click)="searchUser(searchInput)">Filter</button>
  </div>
  <div class="table">
    <div class="row">
      <div class="box header">
        <input type="checkbox" />
      </div>
      <div class="box header">Name</div>
      <div class="box header">E-Mail ID</div>
      <div class="box header">Phone Number</div>
      <div class="box header">Batch</div>
    </div>
    <div *ngFor="let user of userList" class="row">
      <div class="box">
       <input (change)="checkboxChnaged($event, user.email)" type="checkbox" /> 
      </div>
      <div class="box">{{ user.displayName }}</div>
      <div class="box">{{ user.email }}</div>
      <div class="box">{{ user.phone || 99889988889 }}</div>
      <div class="box">{{ user.batch || 20201 }}</div>
    </div>
  </div>
</div>
