.content {
  padding: 20px 20px 0;
  .options {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    margin-bottom: 1em;
    button {
      margin-left: 1em;
      font-size: 1em;
      padding: 0.7em;
      background: #e8e8e8;
      border: 1px solid #d8d8d8;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .search {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin-left: 50px;
      height: 45px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .input-container {
      height: 3em;
      width: 40%;
      position: relative;
      .icon {
        position: absolute;
        top: 14px;
        left: 10px;
        font-size: 20px;
        color: #d8d8d8;
      }
      input[type="text"] {
        height: 100%;
        width: 100%;
        border-radius: 15px;
        border: 1px solid gray;
        padding-left: 32px;
      }
    }
  }
  .table {
    .row {
      display: grid;
      grid-template-columns: 60px repeat(4, 1fr);
      border-right: 1px solid #d8d8d8;
      &:first-child {
        border-top: 1px solid #d8d8d8;
      }
      .header {
        background-color: #e8e8e8;
        font-weight: 700;
      }
      .box {
        font-size: 16px;
        text-align: center;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        padding: 6px;
        padding-top: 15px;
        padding-bottom: 18px;
        font-weight: lighter;
        border-left: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
      }
    }
  }
}

@media screen and (max-width: 360px){
  .content {
    padding: 20px 20px 0;
    .options {
      display: flex;
      justify-content: flex-end;
      margin-top: 1em;
      margin-bottom: 1em;
      button {
        margin-left: 1em;
        font-size: 1em;
        padding: 0.7em;
        background: #e8e8e8;
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        cursor: pointer;
      }
    }
    .search {
      margin-top: 2em;
      margin-bottom: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        margin-left: 50px;
        height: 45px;
        padding-left: 10px;
        padding-right: 10px;
      }
      .input-container {
        height: 3em;
        width: 40%;
        position: relative;
        .icon {
          position: absolute;
          top: 14px;
          left: 10px;
          font-size: 20px;
          color: #d8d8d8;
        }
        input[type="text"] {
          height: 100%;
          width: 100%;
          border-radius: 15px;
          border: 1px solid gray;
          padding-left: 32px;
        }
      }
    }
    .table {
      .row {
        display: grid;
        grid-template-columns: 60px repeat(4, 1fr);
        border-right: 1px solid #d8d8d8;
        &:first-child {
          border-top: 1px solid #d8d8d8;
        }
        .header {
          background-color: #e8e8e8;
          font-weight: 700;
        }
        .box {
          font-size: 16px;
          text-align: center;
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
          padding: 6px;
          padding-top: 15px;
          padding-bottom: 18px;
          font-weight: lighter;
          border-left: 1px solid #d8d8d8;
          border-bottom: 1px solid #d8d8d8;
        }
      }
    }
  }
  
}