<div id="mySidenav" class="sidenav">
  <span (click)="toggleNav()" class="nav__ham"
    ><fa-icon [icon]="faBars"></fa-icon
  ></span>
  
  <a [routerLink]="['./dashboard']">
    <fa-icon [icon]="faHome" class="nav__icon"></fa-icon>
    <p class="nav__link">DASHBOARD</p></a
  >
  <a [routerLink]="['./tests']"
    >
    <fa-icon [icon]="faFileText" class="nav__icon"></fa-icon>
    <p class="nav__link">TESTS</p></a
  >

  <a [routerLink]="['./reports']">
    <fa-icon [icon]="faFile" class="nav__icon"></fa-icon>
    <p class="nav__link">REPORTS</p></a
  >
  <a [routerLink]="['./users']"
    ><fa-icon [icon]="faUsers" class="nav__icon"></fa-icon>
    <p class="nav__link">Users</p></a
  >
</div>
