<app-loading *ngIf="isLoading"> </app-loading>


<div class="live-test-container" *ngIf="!isLoading">
  <div class="header">
      <div>
        {{ testData?.name }}
      </div>
      <div>
        <button class="auto-btn p-0 m-1" style="height: fit-content"  mat-raised-button (click)="calculate()" *ngIf="testData?.calculatorRequired">
          <mat-icon>calculate</mat-icon>
        </button>
      </div>
  </div>
  <div class="content">
    <div class="question-content">
      <div class="section-label">
        <div>Sections</div>
        <div class="time">Time Left :  {{ CountDownTimerValue }}</div>
      </div>
      <mat-tab-group (selectedIndexChange)="changeSection($event)" #TabGroup class="live-test-sections">
        <ng-container *ngFor="let section of testData?.sections">
          <mat-tab label="{{ section?.name }}">
              <div style="height: calc(100vh - 185px);">
                <div style="border-bottom: 1px solid #cccccc;">
                   <strong>Question No. {{questionNumber + 1}}</strong>
                </div>
                <div class="question">

                    <div class="question-passage">
                      <p [innerHTML]="currentSelectedQuestion?.passageContent + currentSelectedQuestion?.passageContent"> </p>
                    </div>

                    <div class="question-text">
                      <div [innerHTML]="currentSelectedQuestion?.name"></div>

                      <div *ngIf="currentSelectedQuestion?.type == 'TITA'">
                        <mat-form-field appearance="outline"  style="width: 100%;">
                          <mat-label>Answer here...</mat-label>
                          <input matInput placeholder="Answer here..." [(ngModel)]="titaText">
                        </mat-form-field>
                      </div>

                      <div *ngIf="currentSelectedQuestion?.type !== 'TITA'" style="padding-top: 20px;">
                        <ul>
                          <li *ngFor="let opt of currentSelectedQuestion?.options">
                              <div style="display: flex;">
                                <div style="padding-top: 5px;padding-right: 5px;"> <mat-checkbox [checked]="optionsSelected[opt?.key - 1]"
                                  (change)="setOptionSelected(opt?.key)"  >
                                </mat-checkbox></div>
                                <div [appMath]="opt?.value"></div>
                              </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                </div>

                <div  *ngIf="!isTestLive" class="question-explanation">
                  <strong>Correct Option:</strong>
                  <div class="correct-option-div"  [innerHTML]="currentSelectedQuestion?.answer?.options"> </div>
                  <strong>Explanation:</strong>
                  <div class="explanation-div" [innerHTML]="currentSelectedQuestion?.explanation"> </div>
                </div>


              </div>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>

    <div class="question-legend">
      <div class="marker">
          <div class="item"><span class='marker_box attempted'>0</span><span>Answered</span></div>
          <div class="item"><span class='marker_box not_attempted'>1</span><span>Not Answered</span></div>
          <div class="item"><span class='marker_box not_visited'>44</span><span>Not Visited</span></div>
          <div class="item"><span class='marker_box mark_review'>0</span><span>Mark for Review</span></div>
      </div>
      <div class="section-name">
          {{currentSelectedSection.name}}
      </div>
      <div class="question-legend-marker">
        <div><strong>Choose a Question</strong></div>
        <div class="question-legend-marker-btn-grp">
          <button class="question-legend-marker-btn" mat-raised-button
            *ngFor="let ques of sectionsWithPapers; let i = index" (click)="selectQuestion(ques, i)"
            [ngClass]="{'selected': ques.id=== currentSelectedQuestion.id,
            'visited':visitedQuestionList.includes(ques?.id?.questionId),
            'answered':answeredQuestionList.includes(ques?.id?.questionId),
            'review':markForReviewQuestionList.includes(ques?.id?.questionId)}"
            [ngStyle]="buttonStyle[i]">
            {{ i + 1 }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-part1">
        <div>
          <button class="mark-review-btn" mat-raised-button   (click)="setQuestionAsMarkerdForReview()" [disabled]="!isTestLive">
            Mark For Review
         </button>
         <button class="clear-response-btn"  mat-raised-button (click)="clearResponse()" [disabled]="!isTestLive">
            Clear Response
         </button>
       </div>
       <div>
        <button class="save-next-btn"  mat-raised-button (click)="saveAndNextAnswers()" [disabled]="!isTestLive">
          Save And Next
        </button>
       </div>

    </div>
    <div style="flex-basis: 400px; display: flex; justify-content: center;">
      <div>
          <button *ngIf="isTestLive" class="save-exit-btn" mat-raised-button (click)="SaveandExit()">
            Save And Exit
          </button>
          <button *ngIf="!isTestLive" class="exit-btn" mat-raised-button (click)="exit()">
            Exit
          </button>
      </div>
    </div>
  </div>

</div>
