.live-test-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header{
    background: #2596be;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
    align-items: center;
    height: 50px;
    font-weight: bold;
  }
  .content {
    flex: 1;
    overflow: auto;
    display: flex;
    height: calc(100vh - 110px);
    .question-content{
      overflow: auto;
      flex: 1;
      border: 1px solid #cccccc;

      .section-label{
        display: flex;
        justify-content: space-between;
       // border-bottom: 1px solid #cccccc;
        padding: 0 10px;
        height: 25px;

      }
    }

    .question-legend{
        flex-basis: 350px;
       display: flex;
       flex-direction: column;

        .marker{
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          padding: 20px 0px 20px 10px;
          border-bottom: 1px solid #cccccc;
          .item{
            height: 50px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex: 50%;
          }
        }

        .section-name{
          background-color: #2596be;
          color: white;
          font-size: 18px;
          font-weight: bold;
          padding: 10px;
        }
        .question-legend-marker{
          background-color: #f3f7f7;
          .question-legend-marker-btn-grp{
            align-content: flex-start;
            padding: 0px 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            height: calc(100vh - 295px);
            overflow: auto;
            justify-content: flex-start;
          }
          .question-legend-marker-btn{
            margin: 10px;
            min-width: 50px;
            color: black;
            font-weight: bold;
            height: 44px;
            background-color: #cccccc;


          }
        }


    }
  }
  .footer{
    display: flex;
    align-items: center;
    //padding: 10px 20px;
    border-top:1px solid #cccccc;

    .footer-part1{
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      border-right: 1px solid #cccccc;
      padding: 10px 20px;
    }
  }
}

.marker_box {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  display:inline-block;
  margin-right: 10px;
  text-align: center;
  color: white;
}

.attempted{
  background-color: rgb(106,183,25);
  border: 2px solid #529010a6;
}
.not_attempted{
  background-color: rgb(221,64,9);
  border: 2px solid rgb(179 53 9 / 88%);
}
.not_visited{
  background-color: rgb(209,208,206);
  border: 2px solid #9999994f;
  color: black;
}
.mark_review{
  background-color: orange;
  border: 1px solid #e89e15;
}
.basic-btn{
  color: white;
}

.mark-review-btn {
  @extend .basic-btn;
  background-color:orange;
  margin-right: 20px;
}

.clear-response-btn{
  @extend .basic-btn;
  background-color:#ff3547;
}

.save-next-btn{
  @extend .basic-btn;
  background-color:#2596be;
}

.save-exit-btn{
  @extend .basic-btn;
  background-color:#1ba94c;
}

.exit-btn{
  @extend .basic-btn;
  background-color:#ff3547;
}

.question{
  display: flex;
  height: calc(100vh - 215px);
  overflow: auto;
  .question-passage{
    flex: 1.5;
    height: inherit;
    overflow: auto;
    border-right: 1px solid #cccccc;
    padding: 10px;
  }
  .question-text{
    flex: 1;
    padding: 10px;
  }

}


.question-explanation{
  border-top: 1px solid #cccccc;
  padding: 20px;
}

.selected{
    background-color: grey !important;
    color: white !important;
    border: 2px solid #212529;
}

.visited{
  background-color: rgb(221,64,9) !important;
  color: white !important;
}

.answered{
  background-color: rgb(106,183,25) !important;
  color: white !important;
}
.review{
  background-color: orange !important;
  color: white !important;
}

.time{
  font-weight: bold;
}

.explanation-div, .correct-option-div {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
}

ul {
  list-style-type: none;
  list-style-type: none;
  margin-top: 4px;
}

ul > li {
  margin-top: 6px;
  cursor: auto;
}


.answer-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.answer-radio-button {
  margin: 5px;
}


::ng-deep .mat-radio-label-content {
  white-space: normal;
}
