<div class="parentContainer">
  <div class="loginContainer">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="box">
        <div class="title">LOGIN</div>
        <mat-form-field appearance="fill"  class="full-width">
            <mat-label>Username</mat-label>
            <input matInput 
                placeholder="{{userNamePlaceHolder}}"
                name="username"
                ngModel
                required/>
        </mat-form-field>
        
        <mat-form-field appearance="fill"  class="full-width">
            <mat-label>Password</mat-label>
            <input matInput 
                placeholder="Password" 
                name="password"
                ngModel
                [type]="maskPassword ? 'password' : 'text'" required/>
            <mat-icon matSuffix (click)="maskPassword = !maskPassword">
                {{maskPassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </mat-form-field>

        <div class="loginButton">
            <button mat-raised-button 
                    color="primary" 
                    [disabled]="!loginForm.form.valid"
                    type="submit">
                <span>GO</span> <i class="fa fa-check"></i>
            </button>
        </div>
        </div>
    </form>
  </div>
</div>
