<div class="parentContainer">
   <div class="loginContainer">
      <div class="box">
         <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
         <div class="title">{{pageTitle}}</div>
         <mat-form-field appearance="fill"  class="full-width">
            <mat-label>Username</mat-label>
            <input matInput 
               placeholder="{{userNamePlaceHolder}}"
               name="username"
               ngModel
               required/>
         </mat-form-field>
         <mat-form-field appearance="fill"  class="full-width">
            <mat-label>Password</mat-label>
            <input matInput 
               placeholder="Password" 
               name="password"
               ngModel
               [type]="maskPassword ? 'password' : 'text'" required/>
            <mat-icon matSuffix (click)="maskPassword = !maskPassword">
               {{maskPassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
         </mat-form-field>
         <div class="iconButton loginButton">
            <button mat-raised-button 
               color="primary" 
               [disabled]="!loginForm.form.valid"
               type="submit">
            <i class="icon material-icons mdc-button__icon" aria-hidden="true">login</i>
            <span>Login</span> <i class="fa fa-check"></i>
            </button>
         </div>
         </form>
         <mat-divider></mat-divider>
         <div class="iconButton loginMicrosoftButton">
            <button mat-raised-button 
               color="primary"
               type="button">
            <img class="icon" src="../../assets/images/microsoft-logo.jpg" style="width: 24px; height: 24px;">
            <span>Login with Microsoft</span> <i class="fa fa-check"></i>
            </button>
         </div>
      </div>
   </div>
</div>