

<div class="card border-0">
    <div class="card-header d-flex bg-transparent p-0 border-0">
        <h4>Test Configuration</h4>
        <button class="btn close__btn" (click)="close()"><span class="position-center">&times;</span></button>
    </div>
    <div class="card-body">
        <div class="confiq__sec py-7">
            <div class="container">
                <div class="row">

                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="content_box" [formGroup]="configurationFormControl">
                        <mat-checkbox formControlName="doNotShowReport"  class="mt-2" >Do Not Show Report</mat-checkbox>
                        <mat-checkbox formControlName="percentile" class="mt-2" >Percentile</mat-checkbox>
                        <mat-checkbox formControlName="allowCalculator" class="mt-2"  >Allow Calculator</mat-checkbox>
                        <mat-checkbox formControlName="shuffleQuestions" class="mt-2" >Shuffle Question</mat-checkbox>
                        <mat-checkbox formControlName="sectionalTest" class="mt-2" >Sectional Test</mat-checkbox>
                        <mat-checkbox formControlName="allowInstituteAnalysisMetadata" class="mt-2" >Institue Analysis</mat-checkbox>
                      </div>
                  </div>

                    <div class="col-12  pt-5">
                      <p>Percentile file:</p>
                      <div class="custom-file mb-3">
                        <input
                          type="file"
                          accept=".xlsx"
                          class="custom-file-input"
                          id="customFile"
                          name="filename"
                          (change)="onFileChange($event)"
                        />
                        <label class="custom-file-label" for="customFile">{{ fileName }}</label>
                      </div>
                    </div>

                    <div class="col-12  pt-5">
                      <p>Institue Analysis file:</p>
                      <div class="custom-file mb-3">
                        <input
                          type="file"
                          accept=".xlsx"
                          class="custom-file-input"
                          id="instituteFile"
                          name="instituteFileName"
                          (change)="institueAnalysisChange($event)"
                        />
                        <label class="custom-file-label" for="instituteFile">{{ instituteFileName }}</label>
                      </div>
                    </div>

                    <div class="col-12 text-center pt-5">

                        <button mat-raised-button class="mat-btn save-btn mx-1" (click)="saveConfiguration()">
                            <mat-icon>save</mat-icon>
                            Save
                        </button>
                        <button mat-raised-button class="mat-btn reset mx-1" (click)="getQuestionPaperbyId()">
                            <mat-icon>cached</mat-icon>
                            Reset
                        </button>
                    </div>
                </div>

            </div><!--.//container-->
        </div>



    </div>
</div>
