<div class="question-filter-panel">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-filter filter-icon"></i> Filter
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div
        style="margin-left: 20px; margin-top: 20px"
        [formGroup]="filterGroup"
      >
        <table>
          <tr>
            <div>
              <mat-form-field appearance="outline" class="form-field-padding">
                <mat-label>Subject</mat-label>
                <mat-select formControlName="subjectCntrl" multiple>
                  <input
                    class="search-container"
                    placeholder="Search Subject"
                    (keyup)="onsubKey($event)"
                  />
                  <mat-option
                    *ngFor="let subject of filteredSubjects"
                    [value]="subject"
                    >{{ subject }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </tr>

          <tr>
            <div>
              <mat-form-field appearance="outline" class="form-field-padding">
                <mat-label>Topic</mat-label>
                <mat-select formControlName="topicCntrl" multiple>
                  <input
                    class="search-container"
                    placeholder="Search Topic"
                    (keyup)="onTopicKey($event)"
                  />
                  <mat-option
                    *ngFor="let topicList of filteredTopics"
                    [value]="topicList"
                    >{{ topicList }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </tr>

          <tr>
            <div>
              <mat-form-field appearance="outline" class="form-field-padding">
                <mat-label>Subtopic</mat-label>
                <mat-select formControlName="subTopicCntrl" multiple>
                  <input
                    class="search-container"
                    placeholder="Search Subtopic"
                    (keyup)="onSubTopicKey($event)"
                  />
                  <mat-option
                    *ngFor="let subtopic of filteredSubtopics"
                    [value]="subtopic"
                    >{{ subtopic }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </tr>

          <tr>
            <div>
              <mat-form-field appearance="outline" class="form-field-padding">
                <mat-label>Difficulty</mat-label>
                <mat-select formControlName="difficulty" multiple>
                  <mat-option
                    *ngFor="let level of difficultyLevels"
                    [value]="level"
                    >{{ level }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </tr>

          <tr>
            <div>
              <mat-form-field appearance="outline" class="form-field-padding">
                <mat-label>State</mat-label>
                <mat-select formControlName="state" multiple>
                  <mat-option *ngFor="let state of states" [value]="state"
                    >{{ state }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </tr>
        </table>
      </div>
      <div style="text-align: center">
        <button
          mat-raised-button
          color="primary"
          (click)="applyFilter()"
          style="background: #0d6efd; color: white; margin-right: 20px"
        >
          Apply
        </button>
        <button
          mat-raised-button
          color="danger"
          (click)="resetFilter()"
          style="background: #ff3547; color: white"
        >
          Reset
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
