<h1 mat-dialog-title class="bulk-upload-title"> {{ 'QUESTION_MANAGEMENT_TAG.QUESTION_MIGRATOR_DIALOG_TITLE' | translate }}
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div mat-dialog-content>
  <div class="bulk-upload-content">
    <p> {{ 'QUESTION_MANAGEMENT_TAG.QUESTION_MIGRATOR_JSON_FILE_LABEL' | translate }} </p>
    <div class="custom-file mb-3">
      <input type="file" accept=".json" class="custom-file-input" id="customFile" name="filename"  (change)="onFileChange($event)" >
      <label class="custom-file-label" for="customFile">{{fileName}}</label>
    </div>
    <div *ngIf="file?.inProgress">
      <div  [@fadeInOut]="file?.state" >
        <mat-progress-bar [value]="file?.progress"></mat-progress-bar>
      </div>
    </div>
  </div>

  <div>
    <mat-checkbox class="" 
    [(ngModel)]="removeHtmlContent" [checked]="removeHtmlContent">Remove Html Content</mat-checkbox>
  </div>
</div>
<div mat-dialog-actions class="bulk-upload-bottom">
  <button class="upload-cls"  mat-raised-button   (click)="uploadTemplate()" [disabled]="!file">
    <mat-icon>cloud_upload</mat-icon> {{ 'COMMON_TAG.UPLOAD' | translate }}
  </button>
</div>
