.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}



.chart-stats {
  background-color: #fff;
}

.card-subtitle{
text-align: center;
color: black;
font-family: math;
font-size: 14px;
}
.primary {
 color: #4285f4 !important;
}

.icon-space{
 margin-right: 5px;
}
.stats{
 display: flex;
 align-items: center;
 padding: 10px;
}
.sub-stats {
 width: 100%;
 display: flex;
 justify-content: space-around;
}
.info{
 color: #33b5e5 !important;
}
