<h1 mat-dialog-title class="title">
  Add Users
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div mat-dialog-content>
  <div class="add-user-content">
    <div class="example-container">
      <mat-form-field style="width: 270px" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Jane Doe" required />
      </mat-form-field>
      <mat-form-field style="width: 270px" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Jane Doe" required />
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field style="width: 270px" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Jane Doe" required />
      </mat-form-field>
      <mat-form-field style="width: 270px" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Jane Doe" required />
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field style="width: 270px" appearance="fill">
        <mat-label>Mobile Number</mat-label>
        <div>
          <input matInput placeholder="Jane Doe" required />
        </div>
      </mat-form-field>
    </div>
  </div>
</div>
