<div class="student-dash-main">
  <!-- <h2 style="width: 100%;">Student DashBoard</h2>
  <mat-card class="student-dash-card">
    <mat-card-header>
      <mat-card-title>Total Test Taken</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ngx-charts-advanced-pie-chart [view]="[400, 200]" [scheme]="colorScheme" [results]="resultStats"
        [gradient]="gradient">
      </ngx-charts-advanced-pie-chart>
    </mat-card-content>
  </mat-card> -->

  <div class="assignment-search-bar">
    <mat-form-field style="width: 600px" appearance="outline">
      <mat-label> {{ "COMMON_TAG.FILTER" | translate }}</mat-label>
      <input
        matInput
        placeholder="Search Tests"
        #input
        (keyup)="applyFilter($event)"
      />
    </mat-form-field>
  </div>

  <div class="student-dash-list-grid">
    <div class="student-result-container mat-elevation-z8">


      <div class="example-table-container">
        <table mat-table [dataSource]="dataSource" class="example-table">
          <ng-container matColumnDef="testName">
            <th mat-header-cell *matHeaderCellDef>Test Name</th>
            <td mat-cell *matCellDef="let row">{{ row.testName }}</td>
          </ng-container>

          <ng-container matColumnDef="attempted">
            <th mat-header-cell *matHeaderCellDef>Attempted</th>
            <td mat-cell *matCellDef="let row">
              <p *ngIf="row.attempted">Yes</p>
              <p *ngIf="!row.attempted">No</p>
            </td>
          </ng-container>

          <!-- actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <span
                *ngIf="row.attempted"
                class="action-btn"
                matTooltip="View Result"
                (click)="viewResult(row)"
                ><mat-icon>assignment</mat-icon></span
              >
              <span
                *ngIf="!row.attempted"
                class="action-btn"
                matTooltip="Take Test"
                (click)="startTest(row)"
                ><mat-icon>play_circle_filled</mat-icon></span
              >
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="pageOptions"></mat-paginator>
    </div>
  </div>
</div>
