<div class="admin-dashboard-container">
  <mat-form-field style="width: 600px" appearance="outline">
    <mat-label>Search tests</mat-label>
    <input
      matInput
      placeholder="Search Tests"
      #input
      (keyup)="applyFilter($event)"
    />
  </mat-form-field>
  <div class="stats-conatiner">
    <span class="stats-card">
      <div class="icon">
        <mat-icon
          style="width: 50px; height: 50px; font-size: 48px"
          aria-hidden="false"
          aria-label="home icon"
          >assignment</mat-icon
        >
      </div>
      <div class="stats">
        <h4>{{ totalTest }}</h4>
        <p>Total Test</p>
      </div>
    </span>
    <span class="stats-card">
      <div class="icon">
        <mat-icon
          style="width: 50px; height: 50px; font-size: 48px"
          aria-hidden="false"
          aria-label="home icon"
          >playlist_add_check</mat-icon
        >
      </div>
      <div class="stats">
        <h4>{{ attempt }}</h4>
        <p>Attempted</p>
      </div>
    </span>
    <span class="stats-card">
      <div class="icon">
        <mat-icon
          style="width: 50px; height: 50px; font-size: 48px"
          aria-hidden="false"
          aria-label="home icon"
          >signal_cellular_no_sim</mat-icon
        >
      </div>
      <div class="stats">
        <h4>{{ notAttempted }}</h4>
        <p>Unattempted</p>
      </div>
    </span>
  </div>
</div>

<div class="student-dash-main">
  <div class="student-dash-list-grid">
    <div class="student-result-container mat-elevation-z8">
      <mat-tab-group class="custom-tabs" (selectedTabChange)="onTabChanged($event)">
        <ng-container *ngFor="let tab of tagSet; let index = index">
          <mat-tab label="{{ tab }}">
            <ng-template mat-tab-label>
              <span>{{ tab }}</span>
            </ng-template>
            <div
              class="example-table-container"
              style="height: 400px; overflow: auto"
            >
              <table mat-table [dataSource]="dataSource" class="example-table">
                <ng-container matColumnDef="testName">
                  <th
                    class="custom-mat-header-th"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    TEST NAME
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.testName }}</td>
                </ng-container>

                <ng-container matColumnDef="attempted">
                  <th
                    class="custom-mat-header-th"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Test Status
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span
                      *ngIf="row.attempted"
                      style="color: green; font-weight: bold"
                      >Attempted</span
                    >
                    <span
                      *ngIf="!row.attempted"
                      style="color: #ffc107; font-weight: bold"
                      >Not Attempted</span
                    >
                  </td>
                </ng-container>

                <ng-container matColumnDef="marksObtained">
                  <th
                    class="custom-mat-header-th"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Marks Obtained
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span *ngIf="row.attempted">
                      <span style="font-weight: 600; font-size: 16px">{{
                        row.marksReceived
                      }}</span>
                      out of
                      <span style="font-weight: 600; font-size: 16px">
                        {{ row.totalMarks }}
                      </span>
                    </span>
                    <span *ngIf="!row.attempted">
                      <span>-</span>
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th
                    class="custom-mat-header-th"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Actions
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span
                      *ngIf="row.attempted"
                      class="action-btn"
                      style="display: flex"
                      (click)="viewResult(row)"
                      ><mat-icon>assignment</mat-icon>&nbsp;&nbsp;View
                      Result</span
                    >
                    <span
                      *ngIf="!row.attempted"
                      class="action-btn"
                      style="display: flex"
                      (click)="startTest(row)"
                      ><mat-icon>play_circle_filled</mat-icon>&nbsp;&nbsp;Take
                      Test</span
                    >
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumns; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <mat-paginator [pageSizeOptions]="pageOptions"></mat-paginator>
            </div>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>
  </div>
</div>
