<div class="chart-container">
  <div class="chart-title">
    <h5>{{title}}</h5>
  </div>

  <div class="chart-stats">
    <div class="sub-stats">
      <div class="stats">
        <div class="card-subtitle">
          <span><i class="fas fa-align-justify icon-space primary" ></i>Total Questions : </span><span> 8 </span>
        </div>
      </div>

      <div class="stats">
        <div class="card-subtitle">

          <span><i class="fas fa-pen icon-space info" ></i>Attempted Questions : </span><span> 3 </span>
        </div>
      </div>
    </div>
  </div>

  <div class="chart-body">
    <ngx-charts-pie-chart

  [scheme]="colorScheme"
  [results]="piedata"
  [gradient]="gradient"
  [legend]="showLegend"
  [arcWidth]="0.6"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  [legendPosition]="legendPosition"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-pie-chart>
  </div>

</div>

