<div class="chart-container">
  <div class="chart-title">
    <h5>{{title}}</h5>
  </div>
  <ng-content></ng-content>



  <div class="chart-body">
    <ngx-charts-pie-chart

  [scheme]="colorScheme"
  [results]="piedata"
  [gradient]="gradient"
  [legend]="showLegend"
  [arcWidth]="0.6"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  [legendPosition]="legendPosition"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-pie-chart>
  </div>

</div>

