<div class="question-list-title">
  Question List
</div>

<div class="question-grid-action">
  <button mat-raised-button (click)="performGridAction('bulk_delete')">
    <mat-icon>delete_forever</mat-icon> Delete
  </button>
  <button mat-raised-button (click)="performGridAction('add')">
    <mat-icon>add_circle</mat-icon> Add
  </button>
  <button mat-raised-button (click)="performGridAction('upload')">
    <mat-icon>cloud_upload</mat-icon> Upload
  </button>
</div>

<div class="question-grid-search-bar" [formGroup] = "filterGroup">
  <mat-form-field appearance="outline" style="margin-right:20px">
    <mat-label>Filter Column</mat-label>
    <mat-select formControlName="filterField" >
      <mat-option *ngFor="let filterColumn of filterColumns" [value]="filterColumn">{{filterColumn}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="typeOfFilter === 1" style="width: 600px;" appearance="outline" >
    <mat-label>Filter</mat-label>
    <input matInput  placeholder="Search" #input (keyup)="applyFilter($event)">
  </mat-form-field>
  <mat-form-field  *ngIf="typeOfFilter === 2"  appearance="outline" class="w-25-field form-field-padding">
    <mat-label>Choose an Option</mat-label>
    <mat-select (selectionChange)="applyFilter($event)">
      <mat-option *ngFor="let option of filterOptions" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field  *ngIf="typeOfFilter === 3"  appearance="outline" class="w-25-field form-field-padding">
    <mat-label>Choose an Option</mat-label>
    <mat-select (selectionChange)="applyFilter($event)" multiple>
      <mat-option *ngFor="let option of filterOptions" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="question-list-grid">

  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        Something is wrong with server.
      </div>
    </div>

    <div class="example-table-container">

      <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="name"
        matSortDisableClear matSortDirection="desc" (matSortChange)="resetPaging()">


        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- Decription Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Decription</th>
          <td mat-cell *matCellDef="let row">{{row.description}}</td>
        </ng-container>


        <!-- Subject Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
          <td mat-cell *matCellDef="let row">{{row.subject}}</td>
        </ng-container>

        <!-- Explanation Column -->
        <ng-container matColumnDef="explanation_added">
          <th mat-header-cell *matHeaderCellDef>Explanation Added?</th>
          <td mat-cell *matCellDef="let row">{{row.explanation_added? 'Yes': 'No'}}</td>
        </ng-container>

        <!-- Tag Column -->
        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tag</th>
          <td mat-cell *matCellDef="let row">{{row.tags}}</td>
        </ng-container>

         <!-- actions Column -->
         <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <span class="action-btn" matTooltip="View Question" (click)="performGridAction('view',row)"><mat-icon>view_compact</mat-icon></span>
            <span class="action-btn" matTooltip="Edit Question" (click)="performGridAction('edit',row)"><mat-icon>edit</mat-icon></span>
            <span class="action-btn" matTooltip="Delete Question" (click)="performGridAction('delete',row)"><mat-icon>delete_forever</mat-icon></span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [length]="totalNumberOfRecords" [pageSizeOptions]="[2,5, 10, 25, 100]"></mat-paginator>
  </div>


</div>
