/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-subject,
.mat-column-tags {
  width:200px;
}

.mat-column-explanation_added {
  width:100px;
}

.mat-column-description {
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-name {
  max-width: 400px;
  width: 400px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-actions{
  width:150px;
  max-width: 150px;
}

.question-list-grid{
  margin: 20px;

}

.question-list-title{
  margin: 20px;
}

.question-grid-search-bar{
  display: flex;
  flex-wrap: wrap;
}

.question-grid-action{
  float: right;
  margin: 20px;
}


.question-grid-action button {
  margin: 0px 10px;
}


.action-btn{
  margin-right: 10px;
  cursor: pointer;
}


.question-filter-panel{
  margin-left: 20px;
  margin-top: 100px;
  margin-right: 20px;
}


.w-25-field{
  width: 25%;
}


.w-50-field{
  width: 50%;
}

.form-field-padding{
  padding-right: 20px;
  width: -webkit-fill-available;
}


.filter-btn-cls{
    position: absolute;
    right: 40px;
    bottom: 20px;
    background: blue;
    color: white;
}

.reset-btn-cls{
  position: absolute;
  right: 100px;
  bottom: 20px;
  background: red;
  color: white;
  margin-right: 10px;
}
