<div class="question-grid-action">
  <!-- <button mat-raised-button (click)="performGridAction('bulk_delete')">
    <mat-icon>delete_forever</mat-icon> {{ "COMMON_TAG.DELETE" | translate }}
  </button> -->
  <button mat-raised-button (click)="performGridAction('add')">
    <mat-icon>add_circle</mat-icon> {{ "COMMON_TAG.ADD" | translate }}
  </button>
  <button mat-raised-button (click)="performGridAction('upload')">
    <mat-icon>cloud_upload</mat-icon> {{ "COMMON_TAG.UPLOAD" | translate }}
  </button>
  <button mat-raised-button (click)="performGridAction('migrate')">
    <i class="fas fa-exchange-alt"></i> {{ "COMMON_TAG.MIGRATE" | translate }}
  </button>
</div>

<div class="question-filter-panel">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Search </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="question-grid-search-bar" [formGroup]="filterGroup">
        <div class="w-50-field">
          <mat-form-field appearance="outline" class="form-field-padding">
            <mat-label>Name & Description</mat-label>
            <input
              matInput
              placeholder="Name & Description"
              formControlName="filterNameValue"
            />
          </mat-form-field>
        </div>
        <div class="w-25-field">
          <mat-form-field appearance="outline" class="form-field-padding">
            <mat-label>Question Type</mat-label>
            <!-- <mat-select formControlName="questionTypeCntrl"> -->
            <input
              type="text"
              placeholder="Search Question Types"
              aria-label="Number"
              matInput
              formControlName="questionTypeCntrl"
              [matAutocomplete]="ques"
            />
            <mat-autocomplete autoActiveFirstOption #ques="matAutocomplete">
              <mat-option
                *ngFor="let option of questionTypeListFilteredOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
            <!-- <mat-option
                *ngFor="let questionType of questionTypeList"
                [value]="questionType"
                >{{ questionType }}
              </mat-option> -->
            <!-- </mat-select> -->
          </mat-form-field>
        </div>
        <div class="w-25-field">
          <mat-form-field appearance="outline" class="form-field-padding">
            <mat-label>Subject </mat-label>
            <input
              type="text"
              placeholder="Search Subjects"
              aria-label="Number"
              matInput
              formControlName="subjectCntrl"
              [matAutocomplete]="sub"
            />
            <mat-autocomplete autoActiveFirstOption #sub="matAutocomplete">
              <mat-option
                *ngFor="let option of subjectFilteredOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
            <!-- <mat-select >
              <mat-option
                *ngFor="let subject of subjectList"
                [value]="subject"
                >{{ subject }}</mat-option
              >
            </mat-select> -->
          </mat-form-field>
        </div>
        <div class="w-25-field">
          <mat-form-field appearance="outline" class="form-field-padding">
            <mat-label>Tags</mat-label>
            <mat-select multiple formControlName="tagCntrl">
              <mat-option *ngFor="let tag of tags" [value]="tag">{{
                tag
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-25-field">
          <mat-form-field appearance="outline" class="form-field-padding">
            <mat-label>Topic</mat-label>
            <input
              type="text"
              placeholder="Topic Subjects"
              aria-label="Number"
              matInput
              formControlName="topicCntrl"
              [matAutocomplete]="topic"
            />
            <mat-autocomplete autoActiveFirstOption #topic="matAutocomplete">
              <mat-option
                *ngFor="let option of topicListFilteredOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
            <!-- <mat-select formControlName="topicCntrl">
              <mat-option *ngFor="let topic of topicList" [value]="topic">{{
                topic
              }}</mat-option>
            </mat-select> -->
          </mat-form-field>
        </div>

        <div class="w-25-field">
          <mat-form-field appearance="outline" class="form-field-padding">
            <mat-label>File Name</mat-label>
            <input
              matInput
              placeholder="File Name"
              formControlName="fileNameCntrl"
            />
          </mat-form-field>
        </div>
        <div class="w-25-field">
          <!-- <mat-form-field appearance="outline" class="form-field-padding">
            <mat-label>Sub Topic</mat-label>
            <mat-select formControlName="substopicCntrl">
              <mat-option
                *ngFor="let subtopic of subTopicList"
                [value]="subtopic"
                >{{ subtopic }}</mat-option
              >
            </mat-select>
          </mat-form-field> -->
          <mat-form-field appearance="outline" class="form-field-padding">
            <mat-label>Section Name</mat-label>
            <input
              matInput
              placeholder="Section"
              formControlName="migrationSectionNameCntrl"
            />
          </mat-form-field>
        </div>
        <div class="w-100-field" style="height: 40px">
          <button
            mat-raised-button
            class="filter-btn-cls"
            (click)="applyFilter()"
          >
            {{ "COMMON_TAG.SEARCH" | translate }}
          </button>
          <button
            mat-raised-button
            class="reset-btn-cls"
            (click)="resetFilter()"
          >
            {{ "COMMON_TAG.RESET" | translate }}
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="question-list-grid">
  <div class="example-container mat-elevation-z8">
    <div
      class="example-loading-shade"
      *ngIf="isLoadingResults || isRateLimitReached"
    >
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        Something is wrong with server.
      </div>
    </div>

    <div class="example-table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        class="example-table"
        matSort
        matSortDisableClear
        matSortDirection="desc"
        (matSortChange)="resetPaging()"
      >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th
            class="custom-mat-header-th"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Question
          </th>
          <td mat-cell *matCellDef="let row" [innerHtml]="row.name"></td>
        </ng-container>

        <!-- Decription Column -->
        <!-- <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Decription</th>
          <td mat-cell *matCellDef="let row" [innerHtml]="row.description"></td>
        </ng-container> -->

        <!-- Subject Column -->
        <!-- <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
          <td mat-cell *matCellDef="let row">{{row.subject}}</td>
        </ng-container> -->

        <!-- FileName Column -->
        <ng-container matColumnDef="fileName">
          <th
            class="custom-mat-header-th"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            File Name
          </th>
          <td mat-cell *matCellDef="let row">{{ row.fileName }}</td>
        </ng-container>

        <!-- Explanation Column -->
        <ng-container matColumnDef="explanation_added">
          <th class="custom-mat-header-th" mat-header-cell *matHeaderCellDef>
            Explanation Added?
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.explanation_added }}
          </td>
        </ng-container>

        <!-- Tag Column -->
        <ng-container matColumnDef="tags">
          <th class="custom-mat-header-th" mat-header-cell *matHeaderCellDef>
            Tag
          </th>
          <td mat-cell *matCellDef="let row">{{ row.tags }}</td>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th class="custom-mat-header-th" mat-header-cell *matHeaderCellDef>
            Actions
          </th>
          <td mat-cell *matCellDef="let row">
            <span
              class="action-btn"
              matTooltip="View Question"
              (click)="performGridAction('view', row)"
            >
              <mat-icon>remove_red_eye</mat-icon>
            </span>
            <span
              class="action-btn"
              matTooltip="Edit Question"
              (click)="performGridAction('edit', row)"
            >
              <mat-icon>edit</mat-icon>
            </span>
            <!-- <span
              class="action-btn"
              matTooltip="Delete Question"
              (click)="performGridAction('delete', row)"
            >
              <mat-icon>delete_forever</mat-icon>
            </span> -->
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator
      [length]="actualTotalNumberOfRecords"
      [pageSizeOptions]="pageOptions"
    ></mat-paginator>
  </div>
</div>
