

.btn__group {
    text-align: right;
}

.btn__group .btn {
    margin: 0 3px;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  thead{
    background: #ECECEC !important;
  }
  tr.mat-header-row {
    height: 45px;
  }
  /* th {
    background: #3a4248;
    color: #fff !important;
  }
  .mat-header-cell {
    background: #3a4248;
    color: #fff !important;
  } */