<div class="dashboard-title">
  <p class="vertical-center">Student Performance Dashboard</p>
</div>
<div class="admin-dashboard-container">
  <div class="left-section">
        <div class="left-sec-1">
          <div><app-pie-chart></app-pie-chart></div>
        </div>
        <div class="left-sec-2">
           <app-group-vertical-bar-chart></app-group-vertical-bar-chart>
        </div>
        <div class="left-sec-3">
          <p class = "title">Students Details</p>
        </div>
  </div>
  <div class="right-section">
    <app-single-layer-gauge></app-single-layer-gauge>
  </div>
</div>
