<div class="admin-dashboard-container">
  <mat-form-field style="width: 45%" appearance="outline">
    <mat-label> {{ "COMMON_TAG.FILTER" | translate }}</mat-label>
    <input
      matInput
      placeholder="Search Tests"
      #input
      (keyup)="applyFilter($event)"
    />
  </mat-form-field>
  <div class="stats-conatiner">
    <div class="stats-card">
      <div class="icon">
        <mat-icon
          style="width: 50px; height: 50px; font-size: 48px"
          aria-hidden="false"
          aria-label="home icon"
          >people</mat-icon
        >
      </div>
      <div class="stats">
        <h4>{{ numberOfUsers || 0 }}</h4>
        <p>Total Users</p>
      </div>
    </div>
    <div class="stats-card">
      <div class="icon">
        <mat-icon
          style="width: 50px; height: 50px; font-size: 48px"
          aria-hidden="false"
          aria-label="home icon"
          >archive</mat-icon
        >
      </div>
      <div class="stats">
        <h4>{{ numberOfBatches || 0 }}</h4>
        <p>Total Batches</p>
      </div>
    </div>
    <div class="stats-card">
      <div class="icon">
        <mat-icon
          style="width: 50px; height: 50px; font-size: 48px"
          aria-hidden="false"
          aria-label="home icon"
          >assignment</mat-icon
        >
      </div>
      <div class="stats">
        <h4>{{ numberOfTests || 0 }}</h4>
        <p>Total Tests</p>
      </div>
    </div>
  </div>
  <mat-tab-group style="width: 100%">
    <mat-tab>
      <ng-template mat-tab-label>
        My Assigned Tests ({{ myTestCount }})
      </ng-template>
      <app-assignment-test [data]="testsAssignedToMe"></app-assignment-test>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label> Drafts ({{ draftTestCount }}) </ng-template>
      <app-test-pending-verification
        [data]="draftTests"
      ></app-test-pending-verification>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Pending Verification ({{ pendingVerificationTestCount }})
      </ng-template>
      <app-test-pending-verification
        [data]="pendingVerificationTest"
      ></app-test-pending-verification>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Verified ({{ verifiedTestCount }})
      </ng-template>
      <app-test-pending-verification
        [data]="verifiedTests"
      ></app-test-pending-verification>
    </mat-tab>
  </mat-tab-group>
</div>

<!--

<div class="dashboard-title">
  <p class="vertical-center">Student Performance Dashboard</p>
</div>
<div class="admin-dashboard-container">
  <div class="left-section">
        <div class="left-sec-1">
          <div><app-pie-chart></app-pie-chart></div>
        </div>
        <div class="left-sec-2">
           <app-group-vertical-bar-chart></app-group-vertical-bar-chart>
        </div>
        <div class="left-sec-3">
          <p class = "title">Students Details</p>
        </div>
  </div>
  <div class="right-section">
    <app-single-layer-gauge></app-single-layer-gauge>
  </div>
  <app-test-pending-verification></app-test-pending-verification>
</div> -->
