<div class="card border-0">
  <div class="card-header d-flex bg-transparent p-0 border-0">
    <h4>Assessment Editor</h4>
    <button class="btn close__btn" (click)="close()">
      <span class="position-center">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form [formGroup]="testForm" autocomplete="off">
      <mat-form-field appearance="outline" style="width: 100%">
         <mat-label>Test Name</mat-label>
        <input matInput placeholder="Test Name" formControlName="testName" />
        <mat-error *ngIf="hasError('testName', 'required')"
          >Test Name is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%">
         <mat-label>Duration (Mins)</mat-label>
        <input
          type="number"
          matInput
          placeholder="Duration"
          formControlName="duration"
          (input)="checkdurationInput()"
        />
        <mat-error *ngIf="hasError('duration', 'required') && !isInputzero"
          >Duration is required</mat-error
        >
        <span *ngIf="isInputzero" class="duration__err"
          >Duration should be greater than 0</span
        >
      </mat-form-field>
      <!-- <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Type</mat-label>
        <input
          matInput
          placeholder="Type"
          formControlName="type"
        />
        <mat-error *ngIf="hasError('type', 'required')"
          >Type has error</mat-error
        >

      </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" required>
          <mat-option value="Default">Default</mat-option>
          <mat-option value="Full Length">Full Length</mat-option>
          <mat-option value="NMAT">NMAT</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('type', 'required')" > Type is <strong>required</strong></mat-error >
      </mat-form-field>


      <label for="description" class="label">Instruction</label>

      <angular-editor
        id="name_editor"
        matInput
        formControlName="description"
        [config]="descriptionEditorconfig"
      >
      </angular-editor>
      <mat-error *ngIf="hasError('description', 'required')"
        >Instruction is required</mat-error
      >

      <!-- <mat-form-field appearance="outline" style="width: 100%;">
                  <input matInput placeholder="Instruction" formControlName="description">
                  <mat-error *ngIf="hasError('description', 'required')">Instruction is required</mat-error>
                </mat-form-field> -->

      <div class="text-center pt-4">
        <button
          mat-raised-button
          class="mat-btn save-btn mx-1"
          (click)="submit()"
        >
          <mat-icon>save</mat-icon>
          Save
        </button>
        <button mat-raised-button class="mat-btn reset mx-1" (click)="Reset()">
          <mat-icon>cached</mat-icon>
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
