.testName {
     margin-top: 20px;
    margin-left: 20px;
}

.card-stats-container{
  display: flex;
  //margin: 20px 0;
  color: white;
  .card-stats{
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    width: 33.33%;
     margin: 20px;
    border-radius: 10px;
    .card-stats-body{
      position: relative;
      padding: 10px;
      height: 100%;

    }
  }
}

.stats{
  display: flex;
  align-items: center;
  padding: 10px;
}

.card-title{
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.card-subtitle{
   span:first-child {
     font-weight: bold;
     font-size: 25px;
   }
   text-align: center;
  color: black;
  font-family: math;
  font-size: 14px;
 }

.card-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
}

.card-icon{
    font-size: 25px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    background-color: #00000033;
}


.card-bg-pink{
  background-color: rgb(240,102,154);
}

.card-bg-blue{
  background-color: rgb(76,166,250);
}

.card-bg-orange{
  background-color: rgb(255,152,49);
}

.card-bg-green{
  background-color: rgb(139,195,74);
}



.content {
  padding: 20px 20px 0;
  table {
    width: 100%;
  }
  .page-options {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 1.2em;
    button {
      margin-left: 8px;
    }
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
  }

  @media screen and (max-width: 1280px) {
    .page-options {
      flex-direction: column;
      .user-actions {
        margin-left: auto;
      }
    }
  }
}

.student-report-list-grid{
  padding: 20px;
}

table {
  width: 100%;
}
