<div class="summary-tab">
  <div class="table-heading">
    <strong><mat-label>Section Summary</mat-label></strong>
  </div>
  <table
    #sectionTable
    mat-table
    [dataSource]="sectoionLevelDataSource"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <th class="custom-mat-header-th" mat-header-cell *matHeaderCellDef>
        Section Name.
      </th>
      <td class="section-row-cell-class" mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <ng-container matColumnDef="correct">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Correct
      </th>
      <td
        class="section-row-cell-class number-cell"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.correct }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="number-cell">
        {{ getSectionalTotalCount("correct") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="incorrect">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Incorrect
      </th>
      <td
        class="section-row-cell-class number-cell"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.incorrect }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="number-cell">
        {{ getSectionalTotalCount("incorrect") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="skipped">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Skipped
      </th>
      <td
        class="section-row-cell-class number-cell"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.skipped }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="number-cell">
        {{ getSectionalTotalCount("skipped") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="marks">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Marks
      </th>
      <td
        class="section-row-cell-class number-cell"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.marks }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="number-cell">
        {{ getSectionalTotalCount("marks") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="accuracy">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Accuracy
      </th>
      <td
        class="section-row-cell-class number-cell"
        mat-cell
        *matCellDef="let element"
      >
        {{ getAccuracy(element.correct, element.incorrect) }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="number-cell">
        {{
          getAccuracy(
            getSectionalTotalCount("correct"),
            getSectionalTotalCount("incorrect")
          )
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="avgtime">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Avg Time
      </th>
      <td
        class="section-row-cell-class number-cell"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.time | minuteSeconds }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="number-cell">
        {{ averageTime | minuteSeconds }}
      </td>
    </ng-container>

    <ng-container matColumnDef="percentile">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Percentile
      </th>
      <td
        class="section-row-cell-class number-cell"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.percentileScore }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="number-cell">
        {{ getSectionalTotalCount("percentileScore") }}
      </td>
    </ng-container>

    <tr
      class="custom-mat-header-th"
      mat-header-row
      *matHeaderRowDef="sectionLevelSummaryDisplayedColumns"
    ></tr>
    <tr
      class="section-row-class"
      mat-row
      *matRowDef="let row; columns: sectionLevelSummaryDisplayedColumns"
    ></tr>
    <tr
      mat-footer-row
      *matFooterRowDef="sectionLevelSummaryDisplayedColumns"
    ></tr>
  </table>

  <div class="table-heading" *ngIf="type != 'NMAT'">
    <strong><mat-label>Difficulty Analysis</mat-label></strong>
  </div>
  <table *ngIf="type != 'NMAT'"
    #diffiultylevelTable
    mat-table
    [dataSource]="difficultyDataSource"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="difficulty">
      <th class="custom-mat-header-th" mat-header-cell *matHeaderCellDef>
        Difficulty
      </th>
    </ng-container>

    <ng-container matColumnDef="correct">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
        [colSpan]="2"
      >
        Correct
      </th>
    </ng-container>

    <ng-container matColumnDef="incorrect">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
        [colSpan]="2"
      >
        Incorrect
      </th>
    </ng-container>

    <ng-container matColumnDef="skipped">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
        [colSpan]="2"
      >
        Skipped
      </th>
    </ng-container>

    <ng-container matColumnDef="mark">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Marks
      </th>
    </ng-container>

    <ng-container matColumnDef="level">
      <th class="custom-mat-sub-header-th" mat-header-cell *matHeaderCellDef>
        Difficulty level
      </th>
      <td mat-cell *matCellDef="let element">{{ element.level }}</td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <ng-container matColumnDef="correctCount">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Count
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.correctCount }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef>
        {{ getDifficultLevelTotalCount("correctCount") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="correctAvgTime">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Avg. Time
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.correctAvgTime | minuteSeconds }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef>
        {{ getDifficultLevelTotalCount("correctAvgTime") | minuteSeconds }}
      </td>
    </ng-container>

    <ng-container matColumnDef="incorrectCount">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Count
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.incorrectCount }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef>
        {{ getDifficultLevelTotalCount("incorrectCount") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="incorrectAvgTime">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Avg. Time
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.incorrectAvgTime | minuteSeconds }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef>
        {{ getDifficultLevelTotalCount("incorrectAvgTime") | minuteSeconds }}
      </td>
    </ng-container>

    <ng-container matColumnDef="skippedCount">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Count
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.skippedCount }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef>
        {{ getDifficultLevelTotalCount("skippedCount") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="skippedAvgTime">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Avg. Time
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.skippedAvgTime | minuteSeconds }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef>
        {{ getDifficultLevelTotalCount("skippedAvgTime") | minuteSeconds }}
      </td>
    </ng-container>

    <ng-container matColumnDef="marks">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Marks
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.marks }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef>
        {{ getDifficultLevelTotalCount("marks") }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="[
        'difficulty',
        'correct',
        'incorrect',
        'skipped',
        'mark'
      ]"
      class="example-second-header-row"
    ></tr>

    <tr
      mat-header-row
      *matHeaderRowDef="difficultySummaryDisplayedColumns"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: difficultySummaryDisplayedColumns"
    ></tr>
    <tr
      mat-footer-row
      *matFooterRowDef="difficultySummaryDisplayedColumns"
    ></tr>
  </table>

  <div class="table-heading">
    <strong><mat-label>Question Analysis</mat-label></strong>
  </div>
  <table
    #sectionDifficultyTable
    mat-table
    [dataSource]="sectionDifficultyDataSource"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="sectionName">
      <th class="custom-mat-header-th" mat-header-cell *matHeaderCellDef>
        Section Name
      </th>
    </ng-container>

    <ng-container matColumnDef="easy">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
        [colSpan]="3"
      >
        Easy (Count)
      </th>
    </ng-container>

    <ng-container matColumnDef="medium">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
        [colSpan]="3"
      >
        Medium (Count)
      </th>
    </ng-container>

    <ng-container matColumnDef="hard">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
        [colSpan]="3"
      >
        Hard (Count)
      </th>
    </ng-container>

    <ng-container matColumnDef="name">
      <th
        class="custom-mat-sub-header-th"
        mat-header-cell
        *matHeaderCellDef
      ></th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="easyCrctCount">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Correct
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.easyCorrect }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="easyIncrctCount">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Incorrect
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.easyIncorrect }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="easySkippedCount">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Skipped
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.easySkipped }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="mediumCorrectCount">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Correct
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.mediumCorrect }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="mediumIncorrectCount">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Incorrect
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.mediumIncorrect }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="mediumSkippedCount">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Skipped
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.mediumSkipped }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="hardCorrectCount">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Correct
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.hardCorrect }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="hardIncorrectCount">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Incorrect
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.hardIncorrect }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="hardSkippedCount">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Skipped
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.hardSkipped }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="['sectionName', 'easy', 'medium', 'hard']"
      class="example-second-header-row"
    ></tr>

    <tr mat-header-row *matHeaderRowDef="sectionWiseDifficultyCol"></tr>
    <tr mat-row *matRowDef="let row; columns: sectionWiseDifficultyCol"></tr>
    <tr mat-footer-row *matFooterRowDef="sectionWiseDifficultyCol"></tr>
  </table>

  <div class="table-heading">
    <strong><mat-label>Time Distribution Analysis</mat-label></strong>
  </div>
  <table
    #timeAnalysisTable
    mat-table
    [dataSource]="timeAnalysisDataSource"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="sectionName">
      <th class="custom-mat-header-th" mat-header-cell *matHeaderCellDef>
        Section Name
      </th>
    </ng-container>

    <ng-container matColumnDef="easy">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
        [colSpan]="3"
      >
        Easy (Time)
      </th>
    </ng-container>

    <ng-container matColumnDef="medium">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
        [colSpan]="3"
      >
        Medium (Time)
      </th>
    </ng-container>

    <ng-container matColumnDef="hard">
      <th
        class="custom-mat-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
        [colSpan]="3"
      >
        Hard (Time)
      </th>
    </ng-container>

    <ng-container matColumnDef="name">
      <th
        class="custom-mat-sub-header-th"
        mat-header-cell
        *matHeaderCellDef
      ></th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="easyCorrecttime">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Correct
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.easyCorrectTime | minuteSeconds }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="easyIncorrectTime">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Incorrect
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.easyIncorrectTime | minuteSeconds }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="easySkippedTime">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Skipped
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.easySkippedTime | minuteSeconds }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="mediumCorrectTime">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Correct
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.mediumCorrectTime | minuteSeconds }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="mediumIncorrectTime">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Incorrect
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.mediumIncorrectTime | minuteSeconds }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="mediumSkippedTime">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Skipped
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.mediumSkippedTime | minuteSeconds }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="hardCorrectTime">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Correct
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.hardCorrectTime | minuteSeconds }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="hardIncorrectTime">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Incorrect
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.hardIncorrectTime | minuteSeconds }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="hardSkippedTime">
      <th
        class="custom-mat-sub-header-th number-cell"
        mat-header-cell
        *matHeaderCellDef
      >
        Skipped
      </th>
      <td class="number-cell" mat-cell *matCellDef="let element">
        {{ element.hardSkippedTime | minuteSeconds }}
      </td>
      <td class="number-cell" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="['sectionName', 'easy', 'medium', 'hard']"
      class="example-second-header-row"
    ></tr>

    <tr mat-header-row *matHeaderRowDef="timeAnalysisColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: timeAnalysisColumn"></tr>
    <tr mat-footer-row *matFooterRowDef="timeAnalysisColumn"></tr>
  </table>
</div>
