<h1 mat-dialog-title class="title">
  <span>Change Password</span>
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div mat-dialog-content>
  <div class="change-password-content">
    <div class="example-container"  [formGroup]="changePasswordFormGroup">


      <mat-form-field  appearance="outline">
        <mat-label>UserName (disabled)</mat-label>
        <input matInput disabled value="123456">
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput required  formControlName="password" />
        <mat-error *ngIf="changePasswordFormGroup.controls.password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordFormGroup.controls.password.hasError('minlength')">
          Password must be at least 6 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput required  formControlName="confirmPassword" />
        <mat-error *ngIf="changePasswordFormGroup.controls.confirmPassword.hasError('required')">
          Confirm Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordFormGroup.controls.confirmPassword.hasError('mustMatch')">
          Passwords must match
        </mat-error>
      </mat-form-field>

    </div>
    <div class="btn-grp-cls">
      <button  mat-raised-button class="save-btn-cls" (click)="changePassword()">Update</button>
      <button mat-raised-button class="reset-btn-cls" (click)="reset()">Reset</button>
    </div>
  </div>
</div>
