<section class="data__table">
  <div class="container-fluid">
    <div class="row py-5">
      <div class="col-lg-6">
        <form action="" class="search__box">
          <div class="input-group">
            <div class="input-group-prepend border-0">
              <span class="input-group-text border-0" id="search"
                ><i class="fa fa-search"></i
              ></span>
            </div>
            <input
              type="text"
              [(ngModel)]="searchText"
              (keyup)="applyFilter()"
              [ngModelOptions]="{ standalone: true }"
              class="form-control border-0"
              placeholder="Search anything ..."
            />
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <div class="btn__group text-right">
          <!-- <button class="mx-2 mat__action_btn" mat-raised-button routerLink="/home/tests/test-preview">
                        <mat-icon>remove_red_eye</mat-icon> View</button> -->
          <!-- <button
            class="mx-2 mat__action_btn delete"
            mat-raised-button
            (click)="deleteSelectedTestsId()"
          >
            <mat-icon>delete_forever</mat-icon> Delete
          </button> -->
          <button
            class="mx-2 mat__action_btn"
            mat-raised-button
            (click)="createTest()"
          >
            <mat-icon>add_circle</mat-icon> Add
          </button>
          <!-- <button class="mx-2 mat__action_btn" mat-raised-button >
                      <mat-icon>cloud_download</mat-icon> Download
                    </button> -->
        </div>
      </div>
    </div>
    <!-- Question Filter -->

    <div class="question-list-grid shadow__box">
      <div class="example-table-container">
        <table
          mat-table
          [dataSource]="dataSource"
          class="
            mat__data__table
            mb-0
            mat-elevation-z8
            border
            custom_table
            border-right
          "
          matSort
          matSortDisableClear
          matSortDirection="desc"
          (matSortChange)="resetPaging()"
        >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="testName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Test Name</th>
            <td
              mat-cell
              *matCellDef="let element"
              [innerHtml]="element.name"
            ></td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>

          <!-- <ng-container matColumnDef="minimumDurationInMinutes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Minimum Duration
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.minimumDurationInMinutes }}
            </td>
          </ng-container> -->

          <ng-container matColumnDef="totalDurationInMinutes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Total Duration
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.totalDurationInMinutes }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td class="actions_container" mat-cell *matCellDef="let element">
              <span
                class="action-btn"
                matTooltip="View Test"
                (click)="startTest(element)"
              >
                <mat-icon>remove_red_eye</mat-icon>
              </span>
              <span
                class="action-btn"
                matTooltip="Edit Test"
                routerLink="/home/tests/update-test/{{
                  element?.questionPaperId
                }}"
              >
                <mat-icon>edit</mat-icon>
              </span>
              <!-- <span
                class="action-btn"
                matTooltip="Delete Test"
                (click)="deleteQuestionPaperbyId(element?.questionPaperId)"
              >
                <mat-icon>delete_forever</mat-icon>
              </span> -->
              <span
                class="action-btn"
                matTooltip="Clone Test"
                (click)="cloneTest(element)"
              >
                <mat-icon>file_copy</mat-icon>
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="selection.toggle(row)"
          ></tr>
        </table>
      </div>
      <!-- <mat-paginator
        class="pagination__box"
        [length]="totalNumberOfRecords"
        [pageSizeOptions]="pageOptions"
        (page)="getPaginatorData($event)"
        showFirstLastButtons="true"
      ></mat-paginator> -->
      <mat-paginator
        class="pagination__box"
        [length]="actualTotalNumberOfRecords"
        [pageSizeOptions]="pageOptions"
      ></mat-paginator>
    </div>
  </div>
</section>
