<div class="chart-container">
  <div class="chart-title">
    <h5>{{title}}</h5>
  </div>


  <div class="chart-stats">
    <div class="sub-stats">
      <div class="stats">
        <div class="card-subtitle">
          <span><i class="fas fa-align-justify icon-space primary" ></i>Total Mark : </span><span> 8 </span>
        </div>
      </div>

      <div class="stats">
        <div class="card-subtitle">

          <span><i class="fas fa-pen icon-space info" ></i>Received Mark : </span><span> 3 </span>
        </div>
      </div>
    </div>
  </div>

  <div class="chart-body">
    <ngx-charts-bar-vertical-stacked

    [scheme]="colorScheme"
    [results]="barChartData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [animations]="animations"
    [legendPosition]="legendPosition"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical-stacked>

  </div>
</div>
