.title {
  border-bottom: 1px solid grey;
  border-width: medium;
  button {
    float: right;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.upload-batch-content {
  width: 700px;
  .example-container {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
    justify-content: flex-start;
    .mat-form-field{
      margin-right: 40px;
      width: 310px !important;
    }
  }
}


.btn-grp-cls {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.save-btn-cls {
  background: blue;
  color: white;
}

.reset-btn-cls {
  background: red;
  color: white;
  margin-left: 20px;
}

.drop-down-search-container{
  position: sticky;
  top: 10px;
  z-index: 1;
  background: white;
}
