<div class="card border-0">
  <div class="card-header d-flex bg-transparent p-0 border-0">
    <div class="row w-100 mx-0 align-items-center border-bottom">
      <div class="col-md-6 left__col p-0 d-flex align-items-center">
        <!-- <img src="https://png.pngtree.com/element_our/20190523/ourmid/pngtree-hand-painted-small-fresh-female-high-school-student-image_1086346.jpg" width="80" height="49" class="mr-3" alt=""> -->
        <h4 class="ml-5">
          {{ testdata?.name }}
        </h4>
      </div>
      <div class="col-md-6 right__col d-flex">
        <button class="auto-btn m-1" mat-raised-button (click)="calculate()">
          C
        </button>
        <div class="student__box d-flex align-items-center">
          <h5>Total Time</h5>
        </div>
        <div class="time d-flex p-2 align-items-center">
          <img src="assets/images/clock.png" width="auto" height="30" alt="" />
          <h4 class="mb-0 ml-5">
            <countdown [config]="{ leftTime: timeSeconds }"></countdown>
          </h4>
        </div>
        <div class="student__box d-flex align-items-center">
          <h5>{{ studentName }}</h5>
          <!-- <img src="https://png.pngtree.com/element_our/20190523/ourmid/pngtree-hand-painted-small-fresh-female-high-school-student-image_1086346.jpg" width="40" class="rounded-circle" alt=""> -->
        </div>
      </div>
    </div>
    <button class="btn close__btn" (click)="close()">
      <span class="position-center">&times;</span>
    </button>
  </div>
  <div class="card-body position-relative main__scroll__card">
    <div class="question__box" style="display: none">
      <div class="d-flex">
        <div class="student__box d-flex align-items-center">
          <h5>Question Time</h5>
        </div>
        <div class="time d-flex p-2 align-items-center">
          <img src="assets/images/clock.png" alt="" />
          <h4 class="mb-0 ml-5">
            <countdown [config]="{ leftTime: timeSeconds }"></countdown>
          </h4>
        </div>
      </div>
    </div>
    <!-- main body content start here -->
    <mat-tab-group class="pt-2" (selectedTabChange)="selectSection($event)">
      <!-- one -->
      <span *ngFor="let section of testdata?.sections">
        <mat-tab label="{{ section?.name }}">
          <div class="row mx-0 scroll__box">
            <div class="col-lg-8 position-relative">
              <div class="left__content inner__scroll">
                <!-- <h3
                  [innerHTML]="currentQuestionIndex + 1 + question?.name"
                ></h3> -->
                <h3 [innerHTML]="question?.name"></h3>
                <p [innerHTML]="question?.explanation"></p>
                <p [innerHTML]="question?.description"></p>
                <mat-radio-group
                  aria-label="Select an option"
                  class="radio__button"
                >
                  <mat-radio-button
                    value="{{ opt?.key }}"
                    *ngFor="let opt of question?.options"
                    [checked]="optionsSelected[opt?.key]"
                    (change)="setOptionSelected(opt?.key)"
                  >
                    <span [innerHTML]="opt?.value"> </span>
                  </mat-radio-button>
                  <br />
                </mat-radio-group>
              </div>
              <!-- footer button box -->
              <div
                class="btn__box d-flex justify-content-space-between pb-3 pt-3"
              >
                <button
                  class="btn-primary"
                  mat-raised-button
                  (click)="setQuestionAsMarkerdForReview()"
                >
                  MARK FOR REVIEW
                </button>
                <button
                  class="btn-danger"
                  mat-raised-button
                  (click)="clearResponse()"
                >
                  CLEAR FOR RESPONSE
                </button>
                <button
                  class="btn-primary"
                  mat-raised-button
                  (click)="SaveandNextAnswers()"
                >
                  SAVE AND NEXT
                </button>
              </div>
            </div>
            <div class="col-lg-4 mh">
              <h3 class="text-center">Current Question</h3>
              <ul class="list-unstyled">
                <!-- <li *ngFor="let ques of sectionsWithPapers; let i=index">
                                <button class=""  mat-mini-fab (click)="getQuestion(ques)" [ngStyle]="{
                                    background: getactiveRandomColorStatus(
                                        ques?.iscolorActive
                                    )
                                  }">{{i + 1}}</button>

                            </li> -->
                <span
                  [innerHTML]="question?.name"
                  style="padding-left: 5px"
                ></span>
              </ul>

              <div class="btn__bo pb-3 pt-5">
                <!-- <button class="auto-btn" mat-raised-button *ngFor="let ques of sectionsWithPapers; let i=index"
                            [ngStyle]="{
                                color : 'white',
                                background: getmarkedRandomColorStatus(
                                    ques?.ismarked
                                )
                              }"
                            >{{i + 1}}</button> -->
                <button
                  class="auto-btn"
                  mat-raised-button
                  *ngFor="let ques of sectionsWithPapers; let i = index"
                  (click)="getQuestion(ques, i)"
                  [ngStyle]="{
                    background: questionNavigationButtonColorArray[i]
                  }"
                >
                  {{ i + 1 }}
                </button>
                <div class="text-center py-3">
                  <button
                    class="btn-primary save__btn w-50 mx-auto"
                    mat-raised-button
                    (click)="SaveandExit()"
                  >
                    SAVE AND EXIT
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </span>
    </mat-tab-group>
  </div>
</div>
