<div class="card border-0">
  <div class="card-header d-flex bg-transparent p-0 border-0">
    <div class="row w-100 mx-0 align-items-center border-bottom">
      <div class="col-md-6 left__col p-0 d-flex align-items-center">
        <h4 class="ml-5">
          {{ testdata?.name }}
        </h4>
      </div>
      <div class="col-md-6 right__col d-flex">
        <button
          class="auto-btn p-0 m-1"
          style="height: fit-content"
          mat-raised-button
          (click)="calculate()"
        >
          <mat-icon>calculate</mat-icon>
        </button>
        <div class="d-flex">
          <div class="student__box d-flex align-items-center">
            <h5>Total Time</h5>
          </div>
          <div class="time d-flex p-2 align-items-center">
            <img
              src="assets/images/clock.png"
              width="auto"
              height="30"
              alt=""
            />
            <h4 class="mb-0 ml-5">
              <!-- <countdown [config]="{ leftTime: timeSeconds }"></countdown> -->
              {{ CountDownTimerValue }}
            </h4>
          </div>
        </div>
        <div class="student__box d-flex align-items-center">
          <h5>{{ studentName }}</h5>
          <!-- <img src="https://png.pngtree.com/element_our/20190523/ourmid/pngtree-hand-painted-small-fresh-female-high-school-student-image_1086346.jpg" width="40" class="rounded-circle" alt=""> -->
        </div>
      </div>
    </div>
    <button class="btn close__btn" (click)="close()">
      <span class="position-center">&times;</span>
    </button>
  </div>
  <div class="card-body position-relative main__scroll__card">
    <div class="question__box" style="display: none">
      <div class="d-flex">
        <div class="student__box d-flex align-items-center">
          <h5>Question Time</h5>
        </div>
        <div class="time d-flex p-2 align-items-center">
          <img src="assets/images/clock.png" alt="" />
          <h4 class="mb-0 ml-5">
            <countdown [config]="{ leftTime: timeSeconds }"></countdown>
          </h4>
        </div>
      </div>
    </div>
    <!-- main body content start here -->
    <mat-tab-group
      class="pt-2"
      (selectedTabChange)="selectSection($event)"
      #TabGroup
    >
      <!-- one -->
      <div *ngIf="testdata?.sections">
        <span *ngFor="let section of testdata?.sections" class="section_tab">
          <mat-tab label="{{ section?.name }}">
            <div class="row mx-0 scroll__box">
              <div class="col-lg-8 position-relative divider">
                <div class="left__content inner__scroll">
                  <ng-scrollbar
                    #scrollable
                    [invertX]="invertX"
                    [invertY]="invertY"
                    [trackX]="true"
                    [compact]="compact"
                    [shown]="shown"
                    [disabled]="disabled"
                  >
                    <!-- <h3
                  [innerHTML]="currentQuestionIndex + 1 + question?.name"
                ></h3> -->
                    <div *ngIf="question?.name">
                      <p
                        class="lead"
                        style="font-weight: 500"
                        [innerHTML]="question?.name"
                      ></p>
                      <!-- <p class="lead" style="font-weight: 500">
                        {{ question?.name }}
                      </p> -->
                      <!-- <p [innerHTML]="question?.explanation"></p>
                      <p [innerHTML]="question?.description"></p> -->
                      <ul>
                        <li *ngFor="let opt of question?.options">
                          <!-- value="{{ opt?.key }}" -->
                          <!-- [checked]="optionsSelected[opt?.key]" -->
                          <div class="row">
                            <mat-checkbox
                              [checked]="optionsSelected[opt?.key - 1]"
                              (change)="setOptionSelected(opt?.key)"
                              class="col-1"
                            >
                            </mat-checkbox>
                            <span
                              class="col-10"
                              style="margin-left: -15px"
                              [innerHTML]="opt?.value"
                            >
                            </span>
                            <!-- <span class="col-10" style="margin-left: -15px">
                              {{ opt?.value }}
                            </span> -->
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="testLive__NoQuestion" *ngIf="!question?.name">
                      <div class="testLive__NoQuestion_text">
                        No question added !!!
                      </div>
                    </div>
                    <!-- <mat-radio-group
                  aria-label="Select an option"
                  class="radio__button"
                >
                  <mat-radio-button
                    value="{{ opt?.key }}"
                    *ngFor="let opt of question?.options"
                    [checked]="optionsSelected[opt?.key]"
                    (change)="setOptionSelected(opt?.key)"
                  >
                    <span [innerHTML]="opt?.value"> </span>
                  </mat-radio-button>
                  <br />
                </mat-radio-group> -->
                  </ng-scrollbar>
                </div>
                <!-- footer button box -->
                <div
                  class="
                    btn__box
                    d-flex
                    justify-content-space-between
                    pb-3
                    pt-3
                  "
                  *ngIf="this.userType === 'ROLE_STUDENT'"
                >
                  <button
                    class="btn-primary"
                    mat-raised-button
                    (click)="setQuestionAsMarkerdForReview()"
                  >
                    Mark For Review
                  </button>
                  <button
                    class="btn-danger"
                    mat-raised-button
                    (click)="clearResponse()"
                  >
                    Clear Response
                  </button>
                  <button
                    class="btn-primary"
                    mat-raised-button
                    (click)="SaveandNextAnswers()"
                  >
                    Save And Next
                  </button>
                </div>

                <!-- admin disabled buttons -->
                <!-- <div
                class="btn__box d-flex justify-content-space-between pb-3 pt-3"
                *ngIf="userType === 'ROLE_USER_ADMIN'"
              >
                <button class="btn-primary" mat-raised-button disabled>
                  Mark For Review
                </button>
                <button class="btn-danger" mat-raised-button disabled>
                  Clear Response
                </button>
                <button class="btn-primary" mat-raised-button disabled>
                  Save And Next
                </button>
              </div> -->
              </div>

              <div class="col-lg-4 mh">
                <div class="scoll_height">
                  <ng-scrollbar
                    #scrollable
                    [invertX]="invertX"
                    [invertY]="invertY"
                    [trackX]="true"
                    [compact]="compact"
                    [shown]="shown"
                    [disabled]="disabled"
                  >
                    <ul class="list-unstyled">
                      <!-- <li *ngFor="let ques of sectionsWithPapers; let i=index">
                                  <button class=""  mat-mini-fab (click)="getQuestion(ques)" [ngStyle]="{
                                      background: getactiveRandomColorStatus(
                                          ques?.iscolorActive
                                      )
                                    }">{{i + 1}}</button>

                              </li> -->
                      <!-- <span
                        [innerHTML]="question?.name"
                        style="padding-left: 5px"
                        *ngIf="question?.name"
                      ></span> -->
                      <div
                        class="testLive__NoQuestion1"
                        *ngIf="!question?.name"
                      >
                        <div class="testLive__NoQuestion_text1">
                          No question added !!!
                        </div>
                      </div>
                    </ul>

                    <div class="num__box">
                      <!-- <button class="auto-btn" mat-raised-button *ngFor="let ques of sectionsWithPapers; let i=index"
                              [ngStyle]="{
                                  color : 'white',
                                  background: getmarkedRandomColorStatus(
                                      ques?.ismarked
                                  )
                                }"
                              >{{i + 1}}</button> -->
                      <button
                        class="auto-btn"
                        mat-raised-button
                        *ngFor="let ques of sectionsWithPapers; let i = index"
                        (click)="getQuestion(ques, i)"
                        [ngStyle]="{
                          background: questionNavigationButtonColorArray[i]
                        }"
                        style="min-width: 50px"
                      >
                        {{ i + 1 }}
                      </button>
                      <!-- <div
                    class="text-center py-3"
                    *ngIf="userType === 'ROLE_USER_ADMIN'"
                  >
                    <button
                      class="btn-primary save__btn w-50 mx-auto"
                      mat-raised-button
                      disabled
                    >
                      Save And Exit
                    </button>
                  </div> -->
                    </div>
                  </ng-scrollbar>
                </div>
                <ul class="border index__box list-unstyled mb-2">
                  <li class="p-b2 text-center lead">Question Color Index</li>
                  <li class="btn btn-primary d-inline-block border-0">
                    Current Question
                  </li>
                  <li
                    *ngIf="this.userType === 'ROLE_STUDENT'"
                    class="btn btn-warning d-inline-block border-0"
                  >
                    Marked Question.
                  </li>
                  <li
                    *ngIf="this.userType === 'ROLE_STUDENT'"
                    class="btn btn-secondary d-inline-block border-0"
                  >
                    Saved Question.
                  </li>
                  <li
                    *ngIf="this.userType === 'ROLE_STUDENT'"
                    class="btn btn-success d-inline-block border-0"
                  >
                    Not Attempted.
                  </li>
                  <!-- <li
                    *ngIf="this.userType === 'ROLE_STUDENT'"
                    class="btn btn_marked_and_ans d-inline-block border-0"
                  >
                    Attempted & marked.
                  </li> -->
                </ul>
                <div
                  *ngIf="this.userType === 'ROLE_STUDENT'"
                  class="text-center save__btn- pt-1"
                >
                  <!-- <div class="text-center save__btn- pt-1"> -->
                  <button
                    class="btn-primary save__btn- w-50 mx-auto bg-danger"
                    mat-raised-button
                    (click)="SaveandExit()"
                  >
                    Save And Exit
                  </button>
                </div>
              </div>
            </div>
          </mat-tab>
        </span>
      </div>
    </mat-tab-group>
    <div class="testLive__NoSections" *ngIf="testdata?.sections === null">
      No Sections added !!!
    </div>
  </div>
</div>
