<h1 mat-dialog-title class="title">
  <span *ngIf="!data">{{ 'ADD_BATCH_TAG.ADD_BATCH' | translate }}</span>
  <span *ngIf="data">{{ 'ADD_BATCH_TAG.VIEW_BATCH' | translate }}</span>
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div mat-dialog-content>
  <div class="add-batch-content">
    <div class="example-container"  [formGroup]="batchFormGroup">

      <mat-form-field appearance="outline">
        <mat-label>{{ 'ADD_BATCH_TAG.NAME' | translate }}</mat-label>
        <input matInput required  formControlName="name" />
        <mat-error *ngIf="batchFormGroup.controls.name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 660px !important" appearance="outline">
        <mat-label>{{ 'ADD_BATCH_TAG.DESCRIPTION' | translate }}</mat-label>
        <textarea matInput  required formControlName="description" ></textarea>
        <mat-error *ngIf="batchFormGroup.controls.description.hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-list *ngIf="data">
      <div mat-subheader>{{ 'ADD_BATCH_TAG.STU_TAGGED_TO_BATCH' | translate }}</div>
      <mat-list-item *ngFor="let student of data.students">
        <i mat-list-icon class="fas fa-user-graduate"></i>
        <div mat-line>{{student}}</div>
      </mat-list-item>
    </mat-list>
    <div class="btn-grp-cls" *ngIf="!data">
      <button [disabled]="batchFormGroup.invalid"  mat-raised-button class="save-btn-cls" (click)="createBatch()">{{ 'COMMON_TAG.SAVE' | translate }}</button>
      <button   mat-raised-button class="reset-btn-cls" (click)="reset()">{{ 'COMMON_TAG.RESET' | translate }}</button>
    </div>
  </div>
</div>
