<div class="preview__box">
    <div class="container p-0 border">
        <!-- header box -->
        <div class="row mx-0 align-items-center border-bottom">
            <div class="col-md-7 p-0 d-flex align-items-center">
                <img src="https://png.pngtree.com/element_our/20190523/ourmid/pngtree-hand-painted-small-fresh-female-high-school-student-image_1086346.jpg" width="80" height="49" class="mr-3" alt="">
                <h4 class="ml-5">
                    Test name will here
                </h4> 
            </div>
            <div class="col-md-5 d-flex">
                <button class="auto-btn" mat-raised-button (click)="calculate()">C</button>
                <div class="time d-flex p-2 align-items-center">
                    <img src="assets/images/clock.png" alt="">
                    <h4 class="mb-0 ml-5">
                        <countdown [config]="{leftTime: timeSeconds}"></countdown>
                    </h4> 
                </div>
                <div class="student__box d-flex align-items-center">
                    <h5>Student Name</h5>
                    <img src="https://png.pngtree.com/element_our/20190523/ourmid/pngtree-hand-painted-small-fresh-female-high-school-student-image_1086346.jpg" width="40" class="rounded-circle" alt="">
                </div>
            </div>
        </div>
        <!-- main body content start here -->
        <mat-tab-group class="pt-2">
            <!-- one -->
            <mat-tab label="First"> 
                <div class="row mx-0 scroll__box">
                    <div class="col-lg-8 position-relative">
                        <div class="left__content inner__scroll">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, numquam. Unde eius commodi ut consequuntur nulla deserunt laboriosam assumenda adipisci, similique, tempora excepturi, nam recusandae eum quod. Et velit tempora blanditiis corporis accusantium aspernatur ipsam iste eveniet ullam, quisquam id.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, numquam. Unde eius commodi ut consequuntur nulla deserunt laboriosam assumenda adipisci, similique, tempora excepturi, nam recusandae eum quod. Et velit tempora blanditiis corporis accusantium aspernatur ipsam iste eveniet ullam, quisquam id.
                            </p>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">Option 1</mat-radio-button> <br>
                                <mat-radio-button value="2">Option 2</mat-radio-button> <br>
                                <mat-radio-button value="3">Option 3</mat-radio-button> <br>
                                <mat-radio-button value="4">Option 4</mat-radio-button> <br>
                                <mat-radio-button value="5">Option 5</mat-radio-button> <br>
                            </mat-radio-group>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, numquam. Unde eius commodi ut consequuntur nulla deserunt laboriosam assumenda adipisci, similique, tempora excepturi, nam recusandae eum quod. Et velit tempora blanditiis corporis accusantium aspernatur ipsam iste eveniet ullam, quisquam id.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, numquam. Unde eius commodi ut consequuntur nulla deserunt laboriosam assumenda adipisci, similique, tempora excepturi, nam recusandae eum quod. Et velit tempora blanditiis corporis accusantium aspernatur ipsam iste eveniet ullam, quisquam id.
                            </p>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">Option 1</mat-radio-button> <br>
                                <mat-radio-button value="2">Option 2</mat-radio-button> <br>
                                <mat-radio-button value="3">Option 3</mat-radio-button> <br>
                                <mat-radio-button value="4">Option 4</mat-radio-button> <br>
                                <mat-radio-button value="5">Option 5</mat-radio-button> <br>
                            </mat-radio-group>
                              

                        </div>
                        <!-- footer button box -->
                        <div class="btn__box d-flex justify-content-space-between pb-3 pt-3">
                            <button class="add-btn btn-add" mat-raised-button>MARK FOR REVIEW</button>
                            <button class="add-btn btn-danger" mat-raised-button>CLEAR FOR RESPONSE</button>
                            <button class="add-btn btn-edit" mat-raised-button>SAVE AND NEXT</button>
                        </div>
                    </div>
                    <div class="col-lg-4 mh">
                        <h3 class="text-center">LEGEND</h3>
                        <ul class="list-unstyled question__scroll">
                            <li>
                                <button class="auto-btn" mat-raised-button>1</button>
                                <span>Current Question</span>
                            </li>
                            <li>
                                <button class="auto-btn" mat-raised-button>2</button>
                                <span>Current Question 2</span>
                            </li>
                        </ul>

                        <div class="btn__bo pb-3 pt-5">
                            <button class="auto-btn" mat-raised-button>1</button>
                            <button class="auto-btn" mat-raised-button>2</button>
                            <button class="auto-btn" mat-raised-button>3</button>
                            <button class="auto-btn" mat-raised-button>4</button>
                            <button class="auto-btn" mat-raised-button>5</button>
                            <button class="auto-btn" mat-raised-button>7</button>
                            <button class="auto-btn" mat-raised-button>8</button> 
                            <div class="text-center py-3">
                                <button class="add-btn btn-add save__btn w-50 mx-auto" mat-raised-button>SAVE</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </mat-tab>

            <!-- two -->
            <mat-tab label="Second"> 
                <div class="row mx-0 scroll__box">
                    <div class="col-lg-8 position-relative">
                        <div class="left__content inner__scroll">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, numquam. Unde eius commodi ut consequuntur nulla deserunt laboriosam assumenda adipisci, similique, tempora excepturi, nam recusandae eum quod. Et velit tempora blanditiis corporis accusantium aspernatur ipsam iste eveniet ullam, quisquam id.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, numquam. Unde eius commodi ut consequuntur nulla deserunt laboriosam assumenda adipisci, similique, tempora excepturi, nam recusandae eum quod. Et velit tempora blanditiis corporis accusantium aspernatur ipsam iste eveniet ullam, quisquam id.
                            </p>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">Option 1</mat-radio-button> <br>
                                <mat-radio-button value="2">Option 2</mat-radio-button> <br>
                                <mat-radio-button value="3">Option 3</mat-radio-button> <br>
                                <mat-radio-button value="4">Option 4</mat-radio-button> <br>
                                <mat-radio-button value="5">Option 5</mat-radio-button> <br>
                            </mat-radio-group>
                             
                        </div>

                        <!-- footer button box -->
                        <div class="btn__box d-flex justify-content-space-between pb-3 pt-3">
                            <button class="add-btn btn-add" mat-raised-button>MARK FOR REVIEW</button>
                            <button class="add-btn btn-danger" mat-raised-button>CLEAR FOR RESPONSE</button>
                            <button class="add-btn btn-edit" mat-raised-button>SAVE AND NEXT</button>
                        </div>
                    </div>
                    <div class="col-lg-4 mh">
                        <h3 class="text-center">LEGEND</h3>
                        <ul class="list-unstyled question__scroll">
                            <li>
                                <button class="auto-btn" mat-raised-button>1</button>
                                <span>Current Question</span>
                            </li>
                            <li>
                                <button class="auto-btn" mat-raised-button>2</button>
                                <span>Current Question 2</span>
                            </li>
                            <li>
                                <button class="auto-btn" mat-raised-button>1</button>
                                <span>Current Question</span>
                            </li>
                            <li>
                                <button class="auto-btn" mat-raised-button>2</button>
                                <span>Current Question 2</span>
                            </li>
                            <li>
                                <button class="auto-btn" mat-raised-button>1</button>
                                <span>Current Question</span>
                            </li>
                            <li>
                                <button class="auto-btn" mat-raised-button>2</button>
                                <span>Current Question 2</span>
                            </li>
                            <li>
                                <button class="auto-btn" mat-raised-button>1</button>
                                <span>Current Question</span>
                            </li>
                            <li>
                                <button class="auto-btn" mat-raised-button>2</button>
                                <span>Current Question 2</span>
                            </li>
                            <li>
                                <button class="auto-btn" mat-raised-button>1</button>
                                <span>Current Question</span>
                            </li>
                            <li>
                                <button class="auto-btn" mat-raised-button>2</button>
                                <span>Current Question 2</span>
                            </li>
                        </ul>

                        <div class="btn__bo pb-3 pt-5">
                            <button class="auto-btn" mat-raised-button>1</button>
                            <button class="auto-btn" mat-raised-button>2</button>
                            <button class="auto-btn" mat-raised-button>3</button>
                            <button class="auto-btn" mat-raised-button>4</button>
                            <button class="auto-btn" mat-raised-button>5</button>
                            <button class="auto-btn" mat-raised-button>7</button>
                            <button class="auto-btn" mat-raised-button>8</button> 
                            <div class="text-center py-3">
                                <button class="add-btn btn-add save__btn w-50 mx-auto" mat-raised-button>SAVE</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </mat-tab>

            <!-- three -->
            <mat-tab label="Third"> 
                <div class="row mx-0 scroll__box">
                    <div class="col-lg-8 position-relative">
                        <div class="left__content inner__scroll">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, numquam. Unde eius commodi ut consequuntur nulla deserunt laboriosam assumenda adipisci, similique, tempora excepturi, nam recusandae eum quod. Et velit tempora blanditiis corporis accusantium aspernatur ipsam iste eveniet ullam, quisquam id.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, numquam. Unde eius commodi ut consequuntur nulla deserunt laboriosam assumenda adipisci, similique, tempora excepturi, nam recusandae eum quod. Et velit tempora blanditiis corporis accusantium aspernatur ipsam iste eveniet ullam, quisquam id.
                            </p>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">Option 1</mat-radio-button> <br>
                                <mat-radio-button value="2">Option 2</mat-radio-button> <br>
                                <mat-radio-button value="3">Option 3</mat-radio-button> <br>
                                <mat-radio-button value="4">Option 4</mat-radio-button> <br>
                                <mat-radio-button value="5">Option 5</mat-radio-button> <br>
                            </mat-radio-group>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, numquam. Unde eius commodi ut consequuntur nulla deserunt laboriosam assumenda adipisci, similique, tempora excepturi, nam recusandae eum quod. Et velit tempora blanditiis corporis accusantium aspernatur ipsam iste eveniet ullam, quisquam id.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, numquam. Unde eius commodi ut consequuntur nulla deserunt laboriosam assumenda adipisci, similique, tempora excepturi, nam recusandae eum quod. Et velit tempora blanditiis corporis accusantium aspernatur ipsam iste eveniet ullam, quisquam id.
                            </p>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">Option 1</mat-radio-button> <br>
                                <mat-radio-button value="2">Option 2</mat-radio-button> <br>
                                <mat-radio-button value="3">Option 3</mat-radio-button> <br>
                                <mat-radio-button value="4">Option 4</mat-radio-button> <br>
                                <mat-radio-button value="5">Option 5</mat-radio-button> <br>
                            </mat-radio-group>
                              

                        </div>
                        <!-- footer button box -->
                        <div class="btn__box d-flex justify-content-space-between pb-3 pt-3">
                            <button class="add-btn btn-add" mat-raised-button>MARK FOR REVIEW</button>
                            <button class="add-btn btn-danger" mat-raised-button>CLEAR FOR RESPONSE</button>
                            <button class="add-btn btn-edit" mat-raised-button>SAVE AND NEXT</button>
                        </div>
                    </div>
                    <div class="col-lg-4 mh">
                        <h3 class="text-center">LEGEND</h3>
                        <ul class="list-unstyled question__scroll">
                            <li>
                                <button class="auto-btn" mat-raised-button>1</button>
                                <span>Current Question</span>
                            </li>
                            <li>
                                <button class="auto-btn" mat-raised-button>2</button>
                                <span>Current Question 2</span>
                            </li>
                        </ul>

                        <div class="btn__bo pb-3 pt-5">
                            <button class="auto-btn" mat-raised-button>1</button>
                            <button class="auto-btn" mat-raised-button>2</button>
                            <button class="auto-btn" mat-raised-button>3</button>
                            <button class="auto-btn" mat-raised-button>4</button>
                            <button class="auto-btn" mat-raised-button>5</button>
                            <button class="auto-btn" mat-raised-button>7</button>
                            <button class="auto-btn" mat-raised-button>8</button> 
                            <div class="text-center py-3">
                                <button class="add-btn btn-add save__btn w-50 mx-auto" mat-raised-button>SAVE</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </mat-tab>


 
        </mat-tab-group>
          



    </div><!--.//container-->
</div>