.content {
  padding: 20px 20px 0;
  table {
    width: 100%;
    th{
      font-weight: 900;
      font-size: 13px;
    }
  }
  .page-options {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 1.2em;
    button {
      margin-left: 8px;
    }
  }

  @media screen and (max-width: 1280px) {
    .page-options {
      flex-direction: column;
      .user-actions {
        margin-left: auto;
      }
    }
  }
}


.action-btn{
  margin-right: 10px;
  cursor: pointer;

}

.mat-column-actions{
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}


.mat-column-name{
  width: 450px;
  min-width: 450px;
  max-width: 450px;
}

.mat-column-student_count{
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
