/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// regular style toast
@import '~ngx-toastr/toastr';

/* Application-wide Styles */
:root {
   --main-color: rgb(255, 0, 0);
   --disable: #666666;
   --disable-background: #cccccc;
   --disable-border: #999999;
   --success-color: rgb(0, 133, 7);
   --failure-color: rgb(255, 0, 0);
}

body {
  margin: 0em;
}

body {
  height: 100%;
  overflow: hidden;
}

// body::-webkit-scrollbar {
//   width: 1em;
// }
 
// body::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   margin-top: 75px;
//   margin-left: 210px;
// }
 
// body::-webkit-scrollbar-thumb {
//   background-color: darkgrey;
//   outline: 1px solid slategrey;
// }


// .iconButton *.icon {
//   margin-right: 5px;
// }