/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// regular style toast
@import '~ngx-toastr/toastr';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

/* Application-wide Styles */
:root {
  --main-color: rgb(255, 0, 0);
  --disable: #666666;
  --disable-background: #cccccc;
  --disable-border: #999999;
  --success-color: rgb(0, 133, 7);
  --failure-color: rgb(255, 0, 0);
}

body {
  margin: 0em;
}

body {
  height: 100%;
  // overflow: hidden;
  font-family: 'Montserrat', sans-serif !important;
}
/* Autofill color to be white */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.text-right {
  text-align: right;
}
.btn-edit {
  background-color: #5bc4e1 !important;
  color: #fff !important;
}

.btn-add {
  background-color: #448dc4 !important;
  color: #fff !important;
}
.btn:focus {
  box-shadow: none !important;
}
.position-center {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.justify-content-space-between {
  justify-content: space-between;
}
.search__box {
  border: 1px solid #ccc;
  padding-right: 1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;

  .input-group {
    align-items: center;
  }
  .input-group-text {
    background-color: transparent;
  }
  .form-control:focus {
    box-shadow: none;
  }

}

.page-link {
  margin: 0 1px !important;
  padding: .55rem .55rem !important;

  &:focus {
    box-shadow: none;
  }

  span {
    font-size: 1.3rem;
    line-height: 0;
  }

  &.active {
    background-color: #428bca;
    color: #fff;
  }
}

.page-item .btn-pill {
  margin: 0 1px !important;
  padding: .5rem .55rem !important;
  border: 1px solid #ccc;
  border-radius: 2rem !important;
  -webkit-border-radius: 2rem !important;
  -moz-border-radius: 2rem !important;
  -ms-border-radius: 2rem !important;
  -o-border-radius: 2rem !important;
}

.table > thead {
  vertical-align: bottom;
  border: 1px solid #e5e5e5;
}
.data__table {
  th {
    text-align: center;
    font-weight: 500;
    background-color: #e5e5e5;
    padding: .5rem .75rem;
  }

  td {
    text-align: center;
  }

  .form-check {
    margin: 0 auto;
  }
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  // white-space: normal !important;
  font-size: 1rem;
}
mat-checkbox span { white-space: pre-wrap; }
.mat-expansion-panel-header {
  font-size: 20px;
}
.mat-expansion-panel-header {
  height: 65px;
}
.mat-content {
  padding: 6px 0;
}

.mat-tab-body-content {
  padding-top: 1rem;
}
.mat-radio-button {
  margin-block: 4px;
}
.mat-tab-label .mat-tab-label-content {
  font-size: 1.12rem;
}
.mat-tab-label-active {
  background-color: #e4e4e4;
  font-weight: 700;
}


.add-btn {
  height: 48px;
  font-family: 'Montserrat';
  color: rgb(66, 66, 66);
  font-size: 1rem;
}

// update section styles
.close-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  background-color: #727272;
  color: #fff;
  box-shadow: 0 4px 5px #727272bd;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);

  span {
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: red;
    color: #fff !important;
  }

}

.close__btn {
  margin-left: auto;
  position: relative;
  padding: 0 1rem;
 margin-top: -20px;
}
.close__btn span {
 font-size: 2.6rem;
}

.close__btn:hover span {
 color: red;
}
.label {
  font-size: 1.12rem;
  font-weight: 500;
  display: block;
  padding-bottom: 5px;
}

.save-btn {
  background-color: #448dc4 !important;
  border-color: #448dc4 !important;
  color: #fff;

  &:hover {
    background-color: #eee !important;
    border-color: #eee !important;
    color: #5bc4e1 !important;
  }
}

.btn-primary:hover {
  background-color: #448dc4;
  border-color: #448dc4;
}

.mat-btn {
  height: 45px !important;
}

.reset:hover {
  background-color: rgb(218, 31, 31);
  color: #fff;
}


.data__table th {
  background-color: #fff;
}

.data__table th:nth-child(1),
.data__table td:nth-child(1) {
  width: 10%;
  text-align: center;
}
.data__table th:nth-child(2),
.data__table td:nth-child(2) {
  width: 40%;
  text-align: left;
}
.data__table th:nth-child(3),
.data__table td:nth-child(3) {
  width: 15%;
  text-align: left;
}
.data__table th:nth-child(4),
.data__table td:nth-child(4) {
  width: 15%;
  text-align: left;
}
.data__table th:nth-child(5),
.data__table td:nth-child(5) {
  width: 20%;
  text-align: left;
}

.shadow__box {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.btn-save {
  span {
    padding-left: .4rem;
  }

  &:hover {
    background-color: #448dc4;
    color: #fff;
  }
}

//Custom CSS for file upload


.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin-bottom: 0;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-file-input[disabled] ~ .custom-file-label,
.custom-file-input:disabled ~ .custom-file-label {
  background-color: #e9ecef;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse";
}

.custom-file-input ~ .custom-file-label[data-browse]::after {
  content: attr(data-browse);
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + 0.75rem);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}


.upload-cls{
  background-color:blue;
  color: white;
}

.download-cls{
  background-color:red;
  color: white;
}

.ng-scroll-content {
  padding-right: 15px;
}

.mat-checkbox-ripple .mat-ripple-element,.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color:  #005691 !important;
}

.mat-checkbox-ripple .mat-ripple-element,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color:  #005691 !important;
}


.custom-mat-header-th {
    font-weight: 700;
    font-size: 15px;
    color: black;
    text-transform: uppercase;
}

.mat-tab-label{
  opacity: 1 !important;
}

.mat-tab-label.mat-tab-label-active {
  background: #2596be;
  color: white;
  border-radius: 5px;
}

.invisible-tabs {
  > .mat-tab-header {
    display: none;
  }
}
