

.mat-checkbox {
    display: block !important;
    position: relative;
}

.mat-checkbox-inner-container {
    position: absolute !important;
    right: 0 !important;
}

.confiq__sec .content_box {
    padding: 1rem 1rem 1rem 1rem;
}

td {
    border: none;
    padding: .5rem 0;
    font-weight: 500;
    color: #333;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #ced4da;
}
