

<div class="confiq__sec py-5">
    <div class="container">
        <h2 class="text-center">Test Configuration</h2>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="content_box">
                    <mat-checkbox class="">Hide Score Card</mat-checkbox>
                    <mat-checkbox class="mt-2">Hide Topicwise Analysis</mat-checkbox>
                    <mat-checkbox class="mt-2">Do Not Show Report</mat-checkbox>
                    <mat-checkbox class="mt-2">Percentile</mat-checkbox>
                </div>
            </div>
            <!--  -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="content_box">
                    <mat-checkbox class="">Hide All Charts</mat-checkbox>
                    <mat-checkbox class="mt-2">Hide Areawise Analysis</mat-checkbox>
                    <mat-checkbox class="mt-2">Is Enable Review Test in Report</mat-checkbox>
                    <mat-checkbox class="mt-2">Hide Solution Tab & Questions Summary</mat-checkbox>
                </div>
            </div>
            <!--  -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="content_box">
                    <mat-checkbox class="">Sectional BreakUp</mat-checkbox>
                    <mat-checkbox class="mt-2">Hide Diffcultywise Analysis</mat-checkbox>
                    <mat-checkbox class="mt-2">Hide Analysis</mat-checkbox>
                    <mat-checkbox class="mt-2">Hide Rank</mat-checkbox>
                </div>
            </div>
            <!--  -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="content_box">
                    <mat-checkbox class="">Sectionwise Analysis</mat-checkbox>
                    <mat-checkbox class="mt-2">Questionwise Analysis</mat-checkbox>
                    <mat-checkbox class="mt-2">CutOff</mat-checkbox> 
                </div>
            </div>
            <!--  -->
            <div class="col-md-6 col-sm-6">
                <div class="content_box">
                     <table class="table mb-0">
                         <tr>
                            <td>Overall</td>
                            <td><input type="text" class="form-control" placeholder="0"></td>
                         </tr>
                         <tr>
                            <td>Data Interpreatation & Logical Reasoning</td>
                            <td><input type="text" class="form-control" placeholder="0"></td>
                         </tr>
                     </table>
                </div>
            </div>
            <!--  -->
            <div class="col-md-6 col-sm-6">
                <div class="content_box">
                     <table class="table mb-0">
                         <tr>
                            <td>Verbal Ability & Reading Comprehension</td>
                            <td><input type="text" class="form-control" placeholder="0"></td>
                         </tr>
                         <tr>
                            <td>Quantitative Aptitude</td>
                            <td><input type="text" class="form-control" placeholder="0"></td>
                         </tr>
                     </table>
                </div>
            </div>
            <div class="col-12 text-center pt-5">
                <button class="btn btn-primary mx-1">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
                <button class="btn btn-outline-secondary mx-1">
                    <i class="fa fa-repeat" aria-hidden="true"></i>
                    Reset
                </button>
            </div>
        </div>

    </div><!--.//container-->
</div>