.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.form-field-padding {
  padding-right: 20px;
}

.main-div {
  width: 1400px;
}

.w-25-field {
  width: 25%;
}

.w-equal-field {
  flex-grow: 1;
}

.text-area-div {
  min-height: 14rem;
  max-height: 14rem;
  border: 1px solid rgba(0, 0, 0, 0.06);
  margin-right: 20px;
  border-radius: 5px;
  overflow-y: auto;

}

.w-100-div {
  width: 100%;
}

.w-50-div {
  width: 50%;
}

h5 {
  color: blue;
}

.cancel-btn {
  background: red;
  color: white;
  margin-right: 10px;
}

.disabled {
  color: gray;
}

.answer-option {
  border: 1px solid rgba(0, 0, 0, 0.06);
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  max-height: 10rem;
  min-height: 10rem;
}
