<mat-card style="margin: 20px; width: calc(100% - 90px)">
  <mat-card-header style="justify-content: center">
    <mat-card-title style="font-weight: bold; font-size: 30px"
      >Question Preview
    </mat-card-title>
  </mat-card-header>

  <form [formGroup]="questionPreviewGroup">
    <div>
      <h5>Basic Information</h5>
      <div class="w-100-div flex-container">
        <mat-form-field
          appearance="outline"
          class="w-25-field form-field-padding"
        >
          <mat-label>Subject</mat-label>
          <input matInput formControlName="subject" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="w-25-field form-field-padding"
        >
          <mat-label>Topic</mat-label>
          <input matInput formControlName="topic" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="w-25-field form-field-padding"
        >
          <mat-label>Sub Topic</mat-label>
          <input matInput formControlName="subTopic" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="w-25-field form-field-padding"
        >
          <mat-label>Difficulty Level</mat-label>
          <input matInput formControlName="difficulty" />
        </mat-form-field>

        <div class="w-50-div" style="margin-bottom: 20px">
          <mat-label style="color: rgba(0, 0, 0, 0.38)">Name</mat-label>
          <div
            class="text-area-div disabled"
            [innerHtml]="questionPreviewGroup.controls['name'].value"
          ></div>
        </div>

        <div class="w-50-div" style="margin-bottom: 20px">
          <mat-label style="color: rgba(0, 0, 0, 0.38)">Description</mat-label>
          <div
            class="text-area-div disabled"
            [innerHtml]="questionPreviewGroup.controls['description'].value"
          ></div>
        </div>
      </div>
    </div>

    <div>
      <h5>Marking System</h5>
      <div class="w-50-field flex-container">
        <div class="w-25-field">
          <mat-form-field appearance="outline" class="form-field-padding">
            <mat-label>Positive Mark</mat-label>
            <input
              matInput
              type="number"
              min="0"
              max="100"
              formControlName="positiveMark"
            />
          </mat-form-field>
        </div>
        <div class="w-25-field">
          <mat-form-field appearance="outline" class="form-field-padding">
            <mat-label>Negative Mark</mat-label>
            <input
              matInput
              type="number"
              min="0"
              max="100"
              formControlName="negativeMark"
            />
          </mat-form-field>
        </div>
        <div class="w-25-field">
          <mat-form-field appearance="outline" class="form-field-padding">
            <mat-label>Skip Mark</mat-label>
            <input
              matInput
              type="number"
              min="0"
              max="100"
              formControlName="skipMark"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div>
      <h5>Question Configuration</h5>
      <div class="w-100-div flex-container">
        <mat-form-field
          appearance="outline"
          class="w-25-field form-field-padding"
        >
          <mat-label>Question Type</mat-label>
          <input matInput formControlName="type" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="w-25-field form-field-padding"
        >
          <mat-label>Tags</mat-label>
          <input matInput formControlName="tags" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="w-25-field form-field-padding"
        >
          <mat-label>Book Reference</mat-label>
          <input matInput type="text" formControlName="bookReference" />
        </mat-form-field>

        <div class="w-50-div" style="margin-bottom: 20px">
          <mat-label style="color: rgba(0, 0, 0, 0.38)">Explanation</mat-label>
          <div
            class="text-area-div disabled"
            [innerHtml]="questionPreviewGroup.controls['explanation']?.value"
          ></div>
        </div>
        <div class="w-50-div" style="margin-bottom: 20px">
          <mat-label style="color: rgba(0, 0, 0, 0.38)">Passage</mat-label>
          <div
            class="text-area-div disabled"
            [innerHtml]="questionPreviewGroup.controls['passage']?.value"
          ></div>
        </div>
      </div>
    </div>

    <div>
      <h5>Answer Configuration</h5>
      <div class="w-100-div flex-container">
        <div *ngIf="questionPreviewGroup.controls['type'].value === 'TITA'" class="w-100-div" style="margin-bottom: 20px">
          <mat-label style="color: rgba(0, 0, 0, 0.38)">Answer Text</mat-label>
          <div
            class="text-area-div disabled"
            [innerHtml]="questionPreviewGroup.controls['answerText']?.value"
          ></div>
        </div>

        <div  *ngIf="questionPreviewGroup.controls['type'].value === 'MCQ'" class="w-100-div" style="margin-bottom: 20px">
          <mat-label style="color: rgba(0, 0, 0, 0.38)">Options</mat-label>
          <div [formGroup]="answerOptionFormGrp" class="w-100-div flex-container">
            <form  formArrayName="optionArrays" class="w-50-div" *ngFor="let option of answerOptionFormGrp.get('optionArrays')['controls']; let i = index">
              <div [formGroupName]="i" style="margin: 10px">
                <mat-checkbox
                  style="margin: 0 12px"
                  formControlName="flag"
                  [disabled]="true"
                ></mat-checkbox>
                <label id="example-radio-group-label" style="margin-bottom: 10px"
                  >Option marked as correct
                  </label
                >
               
                <angular-editor
                  id="answer_option_{{ i }}"
                  [config]="descriptionEditorconfig"
                  formControlName="value"
                >
                </angular-editor>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </form>

  
  <div style="display: flex; justify-content: flex-end">
    <button mat-button (click)="cancel()" class="cancel-btn">
      {{ "COMMON_TAG.CANCEL" | translate }}
    </button>
  </div>
</mat-card>
